{% extends "mylogin/layout.html" %}
{% block content %}
<div class="jumbotron">{% if user.is_authenticated %}
	<h3>Dati utente « <b>{{ user.get_full_name }}</b> »</h3><br>
{% if user.is_active %}
	<table style="border:1px #000 dashed; width:100%; font-size:15px">
		<tr><td>Username </td><td>{{ user.username }}</td></tr>
		<tr><td>Email </td><td>{{ user.email }}</td></tr>
		<tr><td>Nome </td><td>{{ user.first_name }}</td></tr>
		<tr><td>Cognome </td><td>{{ user.last_name }}</td></tr>
	</table>
{% else %}
	<p>L'account non è attivo</p>
	<p>Controlla l'email</p>
{% endif %}{% else %}
	<p>Attualmente sei identificato come utente ospite anonimo</p>
	<a href="{% url 'login:login' %}" class="btn btn-default">Effettua l'accesso</a>
	<br>
{% endif %}</div>
{% endblock %}
