{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Gestione utente</title>
	<link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
	<style type="text/css">
		* { padding:0; margin:0; }
		body { background-color: #ddc !important; padding: 15px 0 0; }
		.navbar-header { float:initial;}
		.navbar { margin-left:10px; margin-right:10px;}
		footer { background-color:#bba; position: fixed; bottom: 0; width:100%; font-size:7pt; text-align:right; line-height:1.4;}
{% block style %}
{% endblock %}
	</style>
	<!--<link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap-theme.min.css' %}">-->
	<!--<script src="{% static 'jquery-2.1.1.min.js"></script>
	<script src="{% static 'bootstrap/js/bootstrap.min.js"></script>-->
</head>
<body>
<header class="navbar navbar-inverse navbar-default">
	<div class="navbar-header">
		<a class="navbar-brand" href="{% url 'login:index' %}">Gestione utente</a>
		<div class="btn-group pull-right" style="padding-right:15px;">
			{% if user.is_authenticated %}
			<a class="navbar-btn btn btn-success" href="{% url 'login:password_change' %}" title="Password change">Cambia password</a>
			<a class="navbar-btn btn btn-warning" href="{% url 'login:logout' %}" title="Log out">Esci</a>
			{% else %}
			<a class="navbar-btn btn btn-success" href="{% url 'login:signup' %}" title="Sign up">Registrati</a>
			<a class="navbar-btn btn btn-primary" href="{% url 'login:login' %}" title="Log in">Accedi</a>
			{% endif %}
		</div>
		<div class="btn-group pull-right" style="padding-right:15px;">
			<a class="navbar-btn btn btn-danger" href="/">Home</a>
		</div>
	</div>
</header>

<div class="container" style="font-size:80%;">
{% block content %}
{% endblock %}
</div>

<footer class="footer">
	<div class="container text-muted">
	</div>
</footer>
</body>
</html>
