{% extends "mylogin/layout.html" %}
{% block content %}
<div class="jumbotron">

<h2>Log in</h2>
<form class="signin-form" action="{% url 'login:login' %}" method="post">
	{% csrf_token %}
{% for error in errors.non_field %}
	<div class="alert alert-danger" role="alert">
		{{ error }}
	</div>
{% endfor %}{% for name,errors in errors.fields %}{% for error in errors %}
	<div class="alert alert-danger" role="alert">
		<strong>{{name}}</strong>: {{ error }}
	</div>
{% endfor %}{%endfor%}
	<label for="id_username" class="sr-only">Nome Utente:</label>
	<input maxlength="254" name="username" type="text" id="id_username" class="form-control" placeholder="Nome Utente" required autofocus>
	<label for="id_password" class="sr-only">Password</label>
	<input name="password" type="password" id="id_password" class="form-control" placeholder="Password" required>

	<div style="text-align:center; margin : 10pt 0 5pt 0;">
        <button class="btn btn-lg btn-primary btn-block" type="submit">Accedi</button>
	</div>
</form>
<p><br><a href={% url "login:password_reset" %}>Username o password dimenticati?</a></p>

</div>
{% endblock %}
  
{% block style %}
		.signin-form {
			text-align:center; font-size: 15px; max-width:450px; margin:0 auto; padding:10px;
		}
		.signin-form input {
			position: relative; width:100%; height: auto; box-sizing: border-box; padding: 10px; font-size: 16px;
		}
		.signin-form input[name="username"] { border-bottom-right-radius:0; border-bottom-left-radius:0; }
		.signin-form input[name="password"] { border-top-left-radius:0; border-top-right-radius:0; }
{% endblock %}
