{% extends "mylogin/layout.html" %}
{% block content %}

<div class="jumbotron">

<h2>Reset password completato</h2>
<div>
	<p class="small">La password &egrave; stata reimpostata con successo.<br>
	<a href="{{ login_url }}">Effettua il login</a></p>
</div>
</div>
{% endblock %}

{% block style %}

.jumbotron p.small {
	font-size: 18px;
}

{% endblock %}
