{% extends "mylogin/layout.html" %}
{% block content %}

<div class="jumbotron">

<h2>Cambio password completato</h2>
<div>
	<p class="small">La password &egrave; stata cambiata con successo.<br>
	<a href="{% url 'lupus:index' %}">Torna al sito</a></p>
</div>
</div>
{% endblock %}

{% block style %}

.jumbotron p.small {
	font-size: 18px;
}

{% endblock %}
