{% extends "mylogin/layout.html" %}
{% block content %}

<div class="jumbotron">

<h2>Reset password</h2>
<div>
	<p class="small">Una mail è stata inviata al tuo indirizzo.<br>
	Controlla la tua posta e fai click sul link contenuto nella mail.</p>
</div>
</div>
{% endblock %}

{% block style %}

.jumbotron p.small {
	font-size: 18px;
}

{% endblock %}
