{% extends "mylogin/layout.html" %}
{% block content %}

<div class="jumbotron">

<h2>Registrati</h2>
<form action="{% url 'login:signup' %}" method="post" class="signup-form">
	{% csrf_token %}
	{% if reg_form.non_field_errors %}<div class="alert alert-danger">{% for error in reg_form.non_field_errors %}
		{{ error }}<br>
	{% endfor %}</div>{% endif %}
	<table style="width:100%">{% for field in reg_form %}
		<tr><th>{{ field.label_tag }}</th><td>{{ field }}{% if field.help_text %}
			<div class="alert alert-info alert-small">{{ field.help_text}}</div>
		{% endif %}{% if field.errors %}
			<div class="alert alert-danger">{% for error in field.errors%}{{ error }}<br>{%endfor%}</div>
		{%endif%}</td></tr>
	{% endfor %}</table>
	<br>
	<div style="text-align:center; margin: 0 auto 0 auto; max-width:500px; padding: 10px 10px 5px;">
        <button class="btn btn-lg btn-success btn-block" type="submit">Registrati</button>
	</div>
</form>
</div>
{% endblock %}

{% block style %}
	.signup-form {
		text-align:center; max-width:800px; margin:5px auto; padding:10px; font-size:13px;
	}
	.signup-form input {
		width: 100%;
	}
	.signup-form th {
		width: 30%;
	}
	.signup-form table .alert{
		margin-top 0; margin-bottom:3px; font-size: 11px;
	}
	.alert-small {
		margin: 0 0 0; padding: 2px; font-size:10px;
	}
{% endblock %}
