{% extends "mylogin/layout.html" %}
{% block content %}
<div class="jumbotron">
	<h2>Verifica account</h2>
	<br>
{% if check_key %}
	{% if is_key_valid %}{% if to_delete %}
	<p>L'account <strong>{{ username }} </strong> &egrave; stato <span style="color:#f00;">eliminato</span></p>
	{% else %}
	<p>L'account <strong>{{ username }} </strong> &egrave; stato abilitato</p>
	{% if not user.is_authenticated %}<p style="text-align:right"><a href="{% url 'login:login' %}" class="btn btn-info" title="Log in">Accedi</a></p>{% endif %}
	{% endif %}{% else %}
	{% if error %}<div class="alert alert-danger" role="alert"><span style="font-size: 13px;">{{ error }}</span></div>{% endif %}
	<p>Il tuo account non &egrave; ancora attivo. Qualcosa &egrave; andato storto !!</p>
	{% endif %}
{% else %}
	<p><span style="font-size:18px;">Il tuo account non &egrave; ancora attivo.<br>E' stata inviato all'email che hai fornito una email con un link.<br>Apri il link per abilitare l'account</span></p>
{% endif %}
</div>
<br>
{% if show_check_key %}
<div class="jumbotron">
	<p>Il link che ti è stato inviato è questo : <a href="{{ host }}{% url 'login:signup_check' %}?key={{ show_check_key }}">{{ host }}{% url 'login:signup_check' %}?key={{ show_check_key }}</a></p>
	<p>Se vuoi eliminare l'account creato usa questo link : <a href="{{ host }}{% url 'login:signup_check' %}?delete={{ show_check_key }}">{{ host }}{% url 'login:signup_check' %}?delete={{ show_check_key }}</a></p>
</div>
{% endif %}
{% endblock %}
