{% extends layout|default:"lupus/layout.html" %}
{% load static %}

{% block content %}
<div class="lp-panel lp-panel-danger">
	<h4>Attenzione !! </h4>
	<p>Hai appena richiesto di abbandonare il match "<i>{{ nome }}</i>" a cui sei iscritto.</p>
	<p>Se abbandoni ora questo match potresti causare anomalie nel gioco e disagi agli altri giocatori. Pensaci bene!<br>
	Se abbandonerai la partita non sarà più possibli ritornarci (a meno di non contattare l'amministratore). Inoltre il tuo personagggio diventerà vecchio.</p>
	<p>Cosa hai deciso ?</p>
    <div class="btn-group"><a href="{% url 'lupus:gioco' %}" class="btn">Ho cliccato Abbandona per sbaglio</a><small><a href="{% url 'lupus:gioco_leave' %}?confirm=true" class="btn">Sono cattivo e abbandono il match</a></small><br clear=both></div>	
</div>
{% endblock %}

{% block style %}
{% endblock %}
