{% extends layout|default:"lupus/layout.html" %}

{% block content %}
<br>
<div class="lp-panel lp-panel-warning">
	<h4>Match</h4>
	<p>Elenco dei match presenti</p>{% if not request.user.is_active %}
	<p>Per iscriverti <a href="{% url 'login:login' %}?next={{ request.get_full_path|urlencode }}">accedi</a></p>{% endif %}
</div>
<div class="lp-panel lp-panel-default">
	<h5>Match disponibili</h5><br>
	<table class="nicehover">{% for m in matchs.reg %}
	<tr>
		<td class="mname">{{ m.nome }}</td>
		<td class="mdata">
			Data inizio: {{m.startdate|date:"d/m/Y"}}<br>Limite iscrizioni: <b>{{m.regenddate|date:"d/m/Y"}}</b><br>Numeri giocatori: {{m.utente_set.count}}
		</td>
		<td class="mright">{% if livello != "pubblico" %}
			{% if profile and profile.match == m %}Iscritto <a href="{% url 'lupus:gioco_leave' %}" class="btn btn-red">Disiscriviti</a>
			{% else %}{% if not profile %}<a href="{% url 'lupus:profile_make' %}?match={{ m.id }}" class="btn btn-green">Isciviti</a>{% endif %}
			{% endif %}
		{% endif %}</td>
	</tr>
	{% empty %}
	<tr><td style="text-align:center">Nessun match disponibile</td></tr>
	{% endfor %}</table>
</div>
{% if matchs.waiting %}<div class="lp-panel lp-panel-default">
	<h5>Match in attesa di inizio</h5><br>
	<table class="nicehover">{% for m in matchs.waiting %}
	<tr>
		<td class="mname">{{ m.nome }}</td>
		<td class="mdata">Data inizio: {{m.startdate|date:"d/m/Y"}}<br>Numeri giocatori: {{m.utente_set.count}}</td>
		<td class="mright">{% if livello != "pubblico" %}
			{% if profile and profile.match == m %} <a href="{% url 'lupus:gioco_askleave' %}" class="btn btn-red">Abbandona</a>
			{% else %}{% if not profile %}<small>Le iscrizione a questo match sono terminate</small>{% endif %}
			{% endif %}
		{% endif %}</td>
	</tr>
	{% endfor %}</table>
</div>{% endif %}
{% if matchs.current %}<div class="lp-panel lp-panel-default">
	<h5>Match iniziati</h5><br>
	<table class="nicehover">{% for m in matchs.current %}
	<tr>
		<td class="mname">{{ m.nome }}</td>
		<td class="mdata">Data inizio: {{m.startdate|date:"d/m/Y"}}<br>Numeri giocatori: {{m.utente_set.count}}</td>
		<td class="mright">{% if profile and profile.match == m %}<a href="{% url 'lupus:gioco_askleave' %}">Stai giocando</a>{% else %}<a href="{% url 'lupus:giornale' m.id %}" class="btn">Mostra giornale</a>{% endif %}</td>
	</tr>
	{% endfor %}</table></div>{% endif %}
{% if matchs.end %}<div class="lp-panel lp-panel-default">
	<h5>Match terminati</h5><br>
	<table class="nicehover">{% for m in matchs.end %}
	<tr>
		<td class="mname">{{ m.nome }}</td>
		<td class="mdata">Periodo: {{m.startdate|date:"d/m/Y"}}-{{m.enddate|date:"d/m/Y"}}<br>Numeri giocatori: {{ m.utente_set.count }}</td>
		<td class="mwinner">
			<a href="{% url 'lupus:summary' m.id %}">{{ m.get_winner_display }}<br><var>Vedi Riassunto</var></a>
			{% if livello == "finito" and profile and profile.match == m %}<br><small><a href="{% url 'lupus:gioco_leave' %}" class="btn btn-red"><small>Disattiva</small></a></small>{% endif %}
		</td>
	</tr>
	{% endfor %}</table>
</div>{% endif %}
{% endblock %}

{% block style %}
.btn-green { background-color: #60C040 !important;}
.btn-red { background-color: #C06040 !important;}
.btn-blue { background-color: #5070D0 !important;}

.mname {
	font-family: "Calligraffitti", "Helvetica", sans;
	min-width: 30%;
	font-size:11.5pt;
}
.mdata {
	color: #aaa;
	font-size: 9pt;
}
.mright {
	text-align:right;
}
.mwinner {
	text-align: right;
	font-family: sans;
	font-weight: 600;
	padding : 5px 10px;
}
.mwinner var {
	font-weight:400;
	font-size:9px;
	line-height:0.9;
}
{% endblock %}
