{% extends layout|default:"lupus/layout.html" %}
{% load filter %}
{% load static %}
{% block content %}
<br>
<div class="lp-panel lp-panel-warning">
	<h3>« L' Eco del Villaggio »</h3>
	<p>Fatti e notizie per tenersi aggionati</p>
	<div style="clear:both;"></div>
</div>

<div class="side-col">
	<div class="lp-panel lp-panel-danger" style="clear:both;">
		<h4>Necrologio</h4>
		{% if ultimi_morti or ultimi_linciati %}
		{% if ultimi_morti %}<p>Morti recenti:</p>
		<table class="nicehover necrologio ">
		<thead style=""><tr><td>Nome</td><td>Data</td></tr></thead>
		<tbody style="color:#f88;">{% for morte in ultimi_morti %}
			<tr><td>{{ morte.utente.nome }}</td><td>{{ morte.date|date:"d / m" }}</td></tr>
		{% endfor %}
		</tbody>
		</table>
		{%endif%}{%if ultimi_linciati%}
		<p>Ultimi giocatori linciati:</p>
		<table class="nicehover necrologio">
		<thead style=""><tr><td>Nome</td><td>Data</td></tr></thead>
		<tbody style="color:#fc8;">{% for linciaggio in ultimi_linciati %}
			<tr><td>{{ linciaggio.utente.nome }}</td><td>{{ linciaggio.date|date:"d / m" }}</td></tr>
		{% endfor %}
		</tbody>
		</table>
		{%endif%}{%else%}
		<br><table class="nicehover"><tr><td>Nessun morto</td></tr></table><br>
		{%endif%}
	</div>
	<div class="lp-panel lp-panel-{%if match_winner %}success{%else%}info{%endif%}" style="clear:both;">
		<h4>Stato del gioco</h4>
		{% if match_winner %}
		<p>Il gioco è terminato e {{ match_winner }}<br>
		Sono sopravissuti <b>{{ in_vita }}</b> giocatori, all'inizio erano <b>{{ totali }}</b>.</p>
		{%else%}
		<p>Nel villaggio ci sono <b>{{ in_vita }}</b> persone vive, all'inizio del gioco erano <b>{{ totali }}</b>.</p>
		{%endif%}
	</div>
	{%if not match_winner %}
	<div class="lp-panel lp-panel-success" style="clear:both;">
		<h4>Ruoli presenti</h4>
		<p>Informatori anonimi riportano che nel villaggio sono presenti :<br>
		{% for ruolo, count in ruoli %}{{ count }} {{ ruolo }}{% if not forloop.last %}, {% endif %}{% endfor %}</p>
	</div>{% endif %}
	<div style="clear:both"></div>
</div>

<div class="main-col">
{% for notizia in notizie %}
<div class="lp-panel lp-panel-default">
	<h3>{{ notizia.titolo }} <span class="notizia-data">{{ notizia.date|date:"d / m"}}</span></h3>
	{% if notizia.text %}{% autoescape off %}
{{ notizia.text }}
	{% endautoescape %}{% endif %}
	{% if notizia.template %}
	{% include notizia.template with data=notizia.context only %}
	{% endif %}
</div>
{% empty %}
<div class="lp-panel lp-panel-default">
	<p style="font-size:11.5pt;">Nessuna notizia rilevante<br></p>
</div>
{% endfor %}
<div style="clear:both"></div>
</div>

<div style="clear:both"></div>

{% endblock %}

{% block style %}
/* Spostato in game-style.css */
{% endblock %}
