{% extends layout|default:"lupus/layout_gm_match.html" %}
{% block title %}
Gestione azioni
{% endblock %}

{% block title_nav %}
Gestione azioni
{% endblock %}

{% block body %}
<div class="lp-panel lp-panel-default">
	<h4>Aggiungi azione</h4>
	<table style="width:50%; text-align:center;" class="nicehover" id="table_event">
		<thead>
			<tr>
				<th>Data</th>
				<th>Agente</th>
				<th>Bresaglio</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<form action="{% url 'lupus:gm_aggiungi_azione'%}" method="POST" id="form_add">
					{% csrf_token %}
					<input type="hidden" name="matchid" id="matchid" value="{{match.id}}"/>
					<td>
						<input type="date" name="date" class="form-select" required/>
					</td>
					<td>
						<select id="sel_agente" name="agente" class="form-select">
							{% for u in users %}
								<option value="{{u.id}}">{{ u.nome }}</option>
							{% endfor %}
						</select>
					</td>
					<td>
						<select id="sel_bersaglio" name="bersaglio" class="form-select">
							{% for u in users %}
								<option value="{{u.id}}">{{ u.nome }}</option>
							{% endfor %}
						</select>
					</td>
					<td>
						<input type="submit" value="Aggiungi" class="btn" id="add"/>
					</td>
				</form>
			</tr>
		</tbody>
	</table>
</div>

<div class="lp-panel lp-panel-default">
	<h4>Azioni</h4>
	<table style="width:60%; text-align:center;" class="nicehover" id="table_event">
		<thead>
			<tr>
				<th>Data</th>
				<th>Agente</th>
				<th>Bresaglio</th>
			</tr>
		</thead>
		<tbody>
			{% for e in actions %}
			<tr>
				<form action="{% url 'lupus:gm_modifica_azione'%}" method="POST" id="form_{{e.id}}">
					{% csrf_token %}
					<input type="hidden" name="matchid" id="matchid" value="{{match.id}}"/>
					<input type="hidden" value="{{e.id}}" id="id_azione" name="id_azione"/>
					<td>
						<p> {{e.time|date:"d/m/Y"}}</p>
					</td>
					<td>
						<p>{{e.agente.nome}}</p>
					</td>
					<td>
						<select id="sel_bersaglio" name="bersaglio" class="form-select">
							{% for u in users %}
								<option value="{{u.id}}" {% ifequal e.bersaglio.id u.id %}selected{% endifequal %}>{{ u.nome }}</option>
							{% endfor %}
						</select>
					</td>
					<td>
						<input type="submit" value="Salva" class="btn modifica" id="mod_{{e.id}}"/>
					</td>
					<td>
						<input type="submit" value="Elimina" formaction="{% url 'lupus:gm_elimina_azione'%}" class="btn elimina" id="del_{{e.id}}"/>
					</td>
				</form>
			</tr>
			{% empty %}
				<tr>
					<td colspan="3">Nessuna azione.</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
</div>

{% endblock %}

{% block scriptfootgm %}
<script type="text/javascript">
$(document).ready(function(){
	$(".modifica").attr("type", "button");
	$(".elimina").attr("type", "button");

	doneDel = function(f) {f.parent().fadeOut("normal", function(){$(this).remove();});};
	failDel = function() {$(".alerts").append("<div class=\"alert alert-error\"><div class=\"alert-txt\">Errore durante l'eliminazione dell'azione.</div></div>");};

	doneMod = function(f) {$(".alerts").append("<div class=\"alert alert-success\"><div class=\"alert-txt\">Modifica effettuata con successo.</div></div>");};
	failMod = function() {$(".alerts").append("<div class=\"alert alert-error\"><div class=\"alert-txt\">Errore durante la modifica dell'azione.</div></div>");};

	f = function(b, destinazione, done, fail) {
		id = b.attr("id").replace("del_", "").replace("mod_", "");
		form = $("#form_"+id);
		$.ajax({
			url: destinazione,
			type: "POST",
			data: form.serialize(),
			beforeSend: function(xhr, settings) {
				xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
			}
		}).done(function(){
			done(form)
		}).fail(function(){
			fail()
		});
	};

	$(".elimina").on("click", function(){f($(this), "{% url 'lupus:gm_elimina_azione'%}", doneDel, failDel)});
	$(".modifica").on("click", function(){f($(this), "{% url 'lupus:gm_modifica_azione'%}", doneMod, failMod)});
});
</script>
{%endblock %}
