{% extends layout|default:"lupus/layout_gm.html" %}
{% load filter %}

{% block content %}
<div class="lp-panel lp-panel-info">
	<h3>Conferma valutazione {% ifequal flags 2 %}notte{% else %}votazioni{% endifequal %}</h3>
</div>
<div class="lp-panel">
	{% if morti %}
	<h4>Morti:</h4>
		<ul>
			{% for u in morti %}
				<li>{{u.nome}}</li>
			{% endfor %}
		</ul>
		<br />
	{% endif %}
	{% if risorti %}
		<h4>Risorti:</h4>
		<ul>
			{% for u in risorti %}
				<li>{{u.nome}}</li>
			{% endfor %}
		</ul>
		<br />
	{% endif %}
	{% if eventi %}
		<h4>Eventi che verranno aggiunti:</h4>
		<table class="nicehover">
			<thead>
				<tr>
					<td>Utente</td>
					<td>Flags</td>
					<td>Scena</td>
				</tr>
			</thead>
			<tbody>
				{% for e in eventi %}
					<tr>
						<td>{{users|dictget:e.utente}}</td>
						<td>{{eventi_flags|dictget:e.flags|dictget:"Help"}}</td>
						<td>{% if e.scena %}{{e.scena}}{% endif %}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
		<br />
	{% endif %}
	{% if note %}
		<h4>Note che verranno aggiunte:</h4>
		<table class="nicehover">
			<thead>
				<tr>
					<td>Utente 1</td>
					<td>Flags</td>
					<td>Utente 2</td>
					<td>Opt</td>
					<td>Text</td>
				</tr>
			</thead>
			<tbody>
				{% for n in note %}
					<tr>
						<td>{{users|dictget:n.utente1}}</td>
						<td>{{note_flags|dictget:n.flags|dictget:"help"}}</td>
						<td>{% if n.utente2 %}{{users|dictget:n.utente2}}{% endif %}</td>
						<td>{% if n.opt %}{{n.opt}}{% endif %}</td>
						<td>{{n.text}}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
		<br />
	{% endif %}
	{% if status %}
		<h4>Status che verranno aggiunti:</h4>
		<table class="nicehover">
			<thead>
				<tr>
					<td>Utente</td>
					<td>Flags</td>
					<td>Opt</td>
				</tr>
			</thead>
			<tbody>
				{% for s in status %}
					<tr>
						<td>{{users|dictget:s.utente}}</td>
						<td>{{status_flags|dictget:s.flags|dictget:"Nome"}}</td>
						<td>{% if s.opt %}{{s.opt}}{% endif %}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
		<br />
	{% endif %}
	<div>
		<form method="POST" action="{% ifequal flags 2 %}{% url 'lupus:gm_esegui_notte' %}{% else %}{% url 'lupus:gm_esegui_linciaggio' %}{% endifequal %}">
			{% csrf_token %}
			<input type="hidden" name="confirm" value="true"/>
			<input type="hidden" name="mid" value="{{mid}}" />
			<div style="float:left; width:50%; text-align: center;">
			<input type="submit" class="btn" value="Conferma"/>
			</div>
			<div style="float:left; width:50%; text-align: center;">
			<a href="{% ifequal flags 2 %}{% url 'lupus:gm_gestione_notte' mid %}{% else %}{% url 'lupus:gm_linciaggio' mid %}{% endifequal %}" class="btn">Annulla</a>
			</div>
			<div style="clear:both;"></div>
		</form>
	</div>
</div>
{% endblock %}

{% block style %}
td {
	max-width: 250px;
	word-wrap: break-word
}
{% endblock %}