{% extends layout|default:"lupus/layout_gm_match.html" %}
{% block title %}
Gestione eventi
{% endblock %}

{% block title_nav %}
Gestione eventi
{% endblock %}


{% block body %}
<div class="lp-panel lp-panel-default">
	<h4>Aggiungi evento</h4>
	<table style="width:50%; text-align:center;" class="nicehover" id="table_event">
		<thead>
			<tr>
				<th>Data</th>
				<th>Utente</th>
				<th>Evento</th>
				<th>Scena</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<form action="{% url 'lupus:gm_aggiungi_evento'%}" method="POST" id="form_add">
					{% csrf_token %}
					<input type="hidden" name="matchid" id="matchid" value="{{match.id}}"/>
					<td>
						<input type="date" name="date" class="form-select" required/>
					</td>
					<td>
						<select id="sel_utente" name="utente" class="form-select">
							{% for u in users %}
								<option value="{{u.id}}">{{ u.nome }}</option>
							{% endfor %}
						</select>
					</td>
					<td>
						<select id="sel_flags" name="flag" class="form-select">
							{% for f, n in flags.items %}
								<option value="{{f}}" >{{ n }}</option>
							{% endfor %}
						</select>
					</td>
					<td>
						<input type="number" name="scena" id="scena" value="1" min="-1" class="form-select" style="width:120%;" />
					</td>
					<td>
						<input type="submit" value="Aggiungi" class="btn" id="add"/>
					</td>
				</form>
			</tr>
		</tbody>
	</table>
</div>

<div class="lp-panel lp-panel-default">
	<h4>Eventi</h4>
	<table style="width:50%; text-align:center;" class="nicehover" id="table_event">
		<thead>
			<tr>
				<th>Data</th>
				<th>Utente</th>
				<th>Evento</th>
				<th>Scena</th>
			</tr>
		</thead>
		<tbody>
			{% for e in events %}
			<tr>
				<form action="{% url 'lupus:gm_modifica_evento'%}" method="POST" id="form_{{e.id}}">
					{% csrf_token %}
					<input type="hidden" name="matchid" id="matchid" value="{{match.id}}"/>
					<input type="hidden" value="{{e.id}}" id="id_evento" name="id_evento"/>
					<td>
						<input type="date" name="date" value="{{e.date|date:'Y-m-d'}}" class="form-select" required/>
					</td>
					<td>
						<select id="sel_utente" name="utente" class="form-select">
							{% for u in users %}
								<option value="{{u.id}}" {% ifequal e.utente.id u.id %}selected{% endifequal %}>{{ u.nome }}</option>
							{% endfor %}
						</select>
					</td>
					<td>
						<select id="sel_flags" name="flag" class="form-select">
							{% for f, n in flags.items %}
								<option value="{{f}}" {% ifequal e.flags f %}selected{% endifequal %}>{{ n }}</option>
							{% endfor %}
						</select>
					</td>
					<td>
						<input type="number" name="scena" id="scena" value="{{e.scena}}" min="0" class="form-select" style="width:120%;" />
					</td>
					<td>
						<input type="submit" value="Salva" class="btn modifica" id="mod_{{e.id}}"/>
					</td>
					<td>
						<input type="submit" value="Elimina" formaction="{% url 'lupus:gm_elimina_eveto'%}" class="btn elimina" id="del_{{e.id}}"/>
					</td>
				</form>
			</tr>
			{% empty %}
				<tr>
					<td colspan="4">Nessun evento.</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
{% endblock %}


{% block scriptfootgm %}
<script type="text/javascript">
$(document).ready(function(){
	$(".modifica").attr("type", "button");
	$(".elimina").attr("type", "button");

	doneDel = function(f) {f.parent().fadeOut("normal", function(){$(this).remove();});};
	failDel = function() {$(".alerts").append("<div class=\"alert alert-error\"><div class=\"alert-txt\">Errore durante l'eliminazione dell'evento.</div></div>");};

	doneMod = function(f) {$(".alerts").append("<div class=\"alert alert-success\"><div class=\"alert-txt\">Modifica effettuata con successo.</div></div>");};
	failMod = function() {$(".alerts").append("<div class=\"alert alert-error\"><div class=\"alert-txt\">Errore durante la modifica dell'evento.</div></div>");};

	f = function(b, destinazione, done, fail) {
		id = b.attr("id").replace("del_", "").replace("mod_", "");
		form = $("#form_"+id)
		$.ajax({
			url: destinazione,
			type: "POST",
			data: form.serialize(),
			beforeSend: function(xhr, settings) {
				xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
			}
		}).done(function(){
			done(form)
		}).fail(function(){
			fail()
		});
	};

	$(".elimina").on("click", function(){f($(this), "{% url 'lupus:gm_elimina_eveto'%}", doneDel, failDel)});
	$(".modifica").on("click", function(){f($(this), "{% url 'lupus:gm_modifica_evento'%}", doneMod, failMod)});
});

</script>
{%endblock %}
