{% extends layout|default:"lupus/layout_gm_match.html" %}
{% block title %}
Gestione della conclusione del match
{% endblock %}

{% block title_nav %}
Gestione della conclusione del match
{% endblock %}

{% block body %}
<div class="lp-panel">
	<h4>Stato del macth</h4>
	{% if winner == "" %}
	<p>Il match è ancora in corso.</p>
	{% else %}
	<p>Esito del match: {{ msg }}.</p>
	<br />
	<form method="POST" action="">
		{% csrf_token %}
		<input type="hidden" name="winner" value="{{ winner }}" />
		<input type="hidden" name="mid" value="{{ match.id }}" />
		<div style="float:left; width:50%; text-align: center;">
			<input type="submit" class="btn" value="Conferma"/>
		</div>
		<div style="float:left; width:50%; text-align: center;">
			<a href="{% url 'lupus:gm_index' %}" class="btn">Annulla</a>
		</div>
		<div style="clear:both;"></div>
	</form>
	{% endif %}
</div>
{% endblock %}
