{% extends layout|default:"lupus/layout_gm_global.html" %}
{% block title %}
<div class="lp-panel lp-panel-info">
	<h3>Gestione gruppi</h3>
</div>
{% endblock %}

{% block title_nav %}
Gestione gruppi
{% endblock %}

{% block body %}
<div class="lp-panel lp-panel-default">
	<h4>Aggiungi gruppo</h4>
	<table style="width:50%; text-align:center;" class="nicehover" id="table_event">
		<thead>
			<tr>
				<th>Nome</th>
				<th>Ruolo</th>
				<th>Match</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<form action="{% url 'lupus:gm_aggiungi_gruppo'%}" method="POST" id="form_add">
					{% csrf_token %}
					<td>
						<input type="text" name="nome" class="form-select" required/>
					</td>
					<td>
						<select id="sel_ruolo" name="ruolo" class="form-select">
							{% for r in roles.values %}
								<option value="{{r.id}}">{{ r.nome }}</option>
							{% endfor %}
						</select>
					</td>
					<td>
						<select id="sel_match" name="match" class="form-select">
							{% for m in matches %}
								<option value="{{m.id}}">{{ m.nome }}</option>
							{% endfor %}
						</select>
					</td>
					<td>
						<input type="submit" value="Aggiungi" class="btn" id="add"/>
					</td>
				</form>
			</tr>
		</tbody>
	</table>
</div>

<div class="lp-panel lp-panel-default">
	<h4>Gruppi</h4>
	<table style="width:60%; text-align:center;" class="nicehover" id="table_event">
		<thead>
			<tr>
				<th>Nome</th>
				<th>Ruolo</th>
				<th>Match</th>
			</tr>
		</thead>
		<tbody>
			{% for g in gruppi %}
			<tr>
				<form action="{% url 'lupus:gm_modifica_gruppo'%}" method="POST" id="form_{{g.id}}">
					{% csrf_token %}
					<input type="hidden" value="{{g.id}}" id="id_gruppo" name="id_gruppo"/>
					<td>
						<input type="text" name="nome" class="form-select" value="{{g.name}}" required/>
					</td>
					<td>
						<select id="sel_ruolo" name="ruolo" class="form-select">
							{% for r in roles.values %}
							<option value="{{r.id}}" {% ifequal g.ruolo r.id %}selected{% endifequal %}>{{ r.nome }}</option>
							{% endfor %}
						</select>
					</td>
					<td>
						<select id="sel_match" name="match" class="form-select">
							{% for m in matches %}
								<option value="{{m.id}}" {% ifequal g.match.id m.id %}selected{% endifequal %}>{{ m.nome }}</option>
							{% endfor %}
						</select>
					</td>
					<td>
						<input type="submit" value="Salva" class="btn modifica" id="mod_{{g.id}}"/>
					</td>
					<td>
						<input type="submit" value="Elimina" formaction="{% url 'lupus:gm_elimina_gruppo'%}" class="btn elimina" id="del_{{g.id}}"/>
					</td>
				</form>
			</tr>
			{% empty %}
				<tr>
					<td colspan="3">Nessun gruppo.</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
</div>

{% endblock %}

{% block scriptfootgm %}
<script type="text/javascript">
$(document).ready(function(){
	$(".modifica").attr("type", "button");
	$(".elimina").attr("type", "button");

	doneDel = function(f) {f.parent().fadeOut("normal", function(){$(this).remove();});};
	failDel = function() {$(".alerts").append("<div class=\"alert alert-error\"><div class=\"alert-txt\">Errore durante l'eliminazione del gruppo.</div></div>");};

	doneMod = function(f) {$(".alerts").append("<div class=\"alert alert-success\"><div class=\"alert-txt\">Modifica effettuata con successo.</div></div>");};
	failMod = function() {$(".alerts").append("<div class=\"alert alert-error\"><div class=\"alert-txt\">Errore durante la modifica del gruppo.</div></div>");};

	f = function(b, destinazione, done, fail) {
		id = b.attr("id").replace("del_", "").replace("mod_", "");
		form = $("#form_"+id);
		$.ajax({
			url: destinazione,
			type: "POST",
			data: form.serialize(),
			beforeSend: function(xhr, settings) {
				xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
			}
		}).done(function(data, textStatus, jqXHR){
			if (textStatus == "Fail") {
				$(".alerts").append("<div class=\"alert alert-error\"><div class=\"alert-txt\">Impossibile eliminare un gruppo usato come villaggio in un match.</div></div>");
			}
			else {
			done(form)
			}
		}).fail(function(){
			fail()
		});
	};

	$(".elimina").on("click", function(){f($(this), "{% url 'lupus:gm_elimina_gruppo'%}", doneDel, failDel)});
	$(".modifica").on("click", function(){f($(this), "{% url 'lupus:gm_modifica_gruppo'%}", doneMod, failMod)});
});
</script>
{%endblock %}
