{% extends layout|default:"lupus/layout_gm.html" %}

{% block style %}
.gm-btn-panel-su .space, .gm-btn-panel-su .full, .gm-btn-panel-staff .space, .gm-btn-panel-staff .full { float:left;}

.gm-btn-panel-su .space { width: 4%; }
.gm-btn-panel-su .full  { width: 22%; }
.gm-btn-panel-staff .space { width: 5%; }
.gm-btn-panel-staff .full  { width: 30%; }

ul {
	list-style-type: none !important;
}
{% endblock %}

{% block content %}

{% if not single %}
<div class="lp-panel lp-panel-default">
	<h3>Gestioni globali</h3>
	<div class="btn-panel gm-btn-panel-{% if gm_perms == "superuser" %}su{%else%}staff{% endif %}">
		<div class="full">
			<a href="{% url 'lupus:gm_gestione_match' %}" class="btn spaced"><p class="big-p">Gestione match</p></a>
		</div>
		<div class="empty"></div>
		<div class="full">
			<a href="{% url 'lupus:gm_gestione_gruppi' %}" class="btn spaced"><p class="big-p">Gestione gruppi</p></a>
		</div>
	{% if gm_perms == "superuser" %}
		<div class="empty"></div>
		<div class="full">
			<a href="{% url 'lupus:gm_staff' %}" class="btn spaced"><p class="big-p">Gestione staff</p></a>
		</div>
	{% endif %}
		<div class="empty"></div>
		<div class="full">
			<a href="{% url 'lupus:gm_setprofile'%}" class="btn spaced"><p class="big-p">Emulazione profilo</p></a>
		</div>
		<div style="clear:both;"></div>
	</div>
</div>
{% else %}
<nav class="gm-nav"><ul>
	<li><a href="{% url 'lupus:gm_index' %}">Area GameMaster</a></li>
	<li><span>Gestione match</span></li>
</ul><div style="clear:both"></div></nav>
{% endif %}

{% if single %}
<div class="lp-panel lp-panel-default">
	<h3>Gestione match {{match.nome}}</h3>
	<div class="btn-panel">
		<div style="width:45%; float:left;">
			<a href="{% url 'lupus:gm_gestione_status' match.id%}" class="btn"><p class="big-p">Gestione stati</p></a>
			<br />
			<a href="{% url 'lupus:gm_assegnazione_ruoli' match.id%}" class="btn"><p class="big-p">Gestione ruoli</p></a>
		</div>
		<div style="width:5%;  float:left;"></div>
		<div style="width:45%; float:left;">
			<a href="{% url 'lupus:gm_gestione_notte' match.id%}" class="btn"><p class="big-p">Gestione notte</p></a>
			<br />
			<a href="{% url 'lupus:gm_gestione_iscritti' match.id%}" class="btn"><p class="big-p">Gestione iscritti</p></a>
		</div>
		<div style="clear:both"></div>
	</div>
	<div class="btn-panel lp-panel lp-panel-warning">
		<h5>Gestione oggetti</h5>
	<div style="width:45%; float:left;">
		<a href="{% url 'lupus:gm_gestione_voti' match.id%}" class="btn"><p class="big-p">Gestione votazioni</p></a>
		<br />
		<a href="{% url 'lupus:gm_gestione_eventi' match.id%}" class="btn"><p class="big-p">Gestione eventi</p></a>
	</div>
	<div style="width:5%;  float:left;"></div>
	<div style="width:45%; float:left;">
		<a href="{% url 'lupus:gm_gestione_azioni' match.id%}" class="btn"><p class="big-p">Gestione azioni</p></a>
		<br />
		<a href="{% url 'lupus:gm_gestione_note' match.id%}" class="btn"><p class="big-p">Gestione note</p></a>
	</div>
	<div style="clear:both;"></div>
	</div>
	<div class="lp-panel lp-panel-info">
		<div style="width:47%; float:left; text-align: center;">
			<a href="{% url 'lupus:gm_linciaggio' match.id%}" class="btn"><p class="big-p">Gestione linciaggio e elezione sindaco</p></a>
		</div>
		<div style="width:4%;  float:left;"></div>
		<div style="width:47%; float:left; text-align: center;">
			<a href="{% url 'lupus:gm_end_match' match.id%}" class="btn"><p class="big-p">Gestione conclusione match</p></a>
		</div>
		<div style="clear:both;"></div>
	</div>
</div>
{% endif %}

{% if not single %}
<div class="lp-panel lp-panel-default">
	<h3>Gestioni per singolo match attivo</h3>
	<div class="btn-panel">
	{%for m in matchs%}
		<a href="{% url 'lupus:gm_index_single' m.id%}" class="btn" style="float:left;"><p class="big-p">{{m.nome}}</p></a>
		<div style="width:5%; float:left; height:1px;"></div>
	{% empty %}
		<p>Nessun match attivo.</p>
	{% endfor %}
	<div style="clear:both;"></div>
	</div>
	{% if reg_matchs %} <!-- Match con le registrazioni aperte -->
	<h3>Match con le registrazioni aperte:</h3>
	<div class="btn-panel">
	{%for m in reg_matchs%}
		<a href="{% url 'lupus:gm_gestione_iscritti' m.id%}" class="btn" style="float:left;"><p class="big-p">{{m.nome}}</p></a>
		<div style="width:5%; float:left; height:1px;"></div>
	{% empty %}
		<p>Nessun match attivo.</p>
	{% endfor %}
		<div style="clear:both;"></div>
	</div>
	{% endif %}
	
</div>
{% endif %}

{% endblock content%}
{% block scriptfoot %}


{%endblock scriptfoot %}
