{% extends layout|default:"lupus/layout_gm_match.html" %}
{% block title %}
Gestione iscritti
{% endblock %}

{% block title_nav %}
Gestione iscritti
{% endblock %}

{% block body %}

<div class="lp-panel lp-panel-default">
	<table style="width:auto; text-align:center;" class="nicehover">
		<thead>
			<tr>
				<th>Nome completo</th>
				<th>Nickname</th>
				<th>Email</th>
			</tr>
		</thead>
		<tbody>
			{% for i in iscritti %}
			<tr>
				{% if not is_started %}
				<form action="{% url 'lupus:gm_modifica_iscritto'%}" method="POST" id="form_{{i.id}}">
					{% csrf_token %}
					<input type="hidden" name="matchid" id="matchid" value="{{match.id}}"/>
					<input type="hidden" value="{{i.id}}" id="id_iscritto" name="id_iscritto"/>
				{% endif %}
					<td>
						<p style="padding-right:5px;">{{ i.user.get_full_name }}</p>
					</td>
					<td>
						{% if is_started %}
							<p style="padding-right:5px;">{{ i.nome }}</p>
						{% else %}
							<input type="text" name="nickname" value="{{ i.nome }}" class="form-select" required />
						{% endif %}
					</td>
					<td>
						<a href="mailto:{{ i.user.email }}">{{ i.user.email }}</a>
					</td>
				{% if not is_started %}
					<td>
						<input type="submit" value="Salva" class="btn modifica" id="mod_{{i.id}}"/>
					</td>
					<td>
						<input type="submit" value="Elimina" formaction="{% url 'lupus:gm_elimina_iscritto'%}" class="btn elimina" id="del_{{i.id}}"/>
					</td>
				</form>
				{% endif %}
			</tr>
			{% empty %}
				<tr>
					<td colspan="3">Nessun iscritto.</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
{% endblock %}


{% block scriptfootgm %}
<script type="text/javascript">
$(document).ready(function(){
	$(".modifica").attr("type", "button");
	$(".elimina").attr("type", "button");

	doneDel = function(f) {f.parent().fadeOut("normal", function(){$(this).remove();});};
	failDel = function() {$(".alerts").append("<div class=\"alert alert-error\"><div class=\"alert-txt\">Errore durante l'eliminazione dell'iscrizione.</div></div>");};

	doneMod = function(f) {$(".alerts").append("<div class=\"alert alert-success\"><div class=\"alert-txt\">Modifica effettuata con successo.</div></div>");};
	failMod = function() {$(".alerts").append("<div class=\"alert alert-error\"><div class=\"alert-txt\">Errore durante la modifica del nickname.</div></div>");};

	f = function(b, destinazione, done, fail) {
		id = b.attr("id").replace("del_", "").replace("mod_", "");
		form = $("#form_"+id)
		$.ajax({
			url: destinazione,
			type: "POST",
			data: form.serialize(),
			beforeSend: function(xhr, settings) {
				xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
			}
		}).done(function(){
			done(form)
		}).fail(function(){
			fail()
		});
	};

	$(".elimina").on("click", function(){f($(this), "{% url 'lupus:gm_elimina_iscritto'%}", doneDel, failDel)});
	$(".modifica").on("click", function(){f($(this), "{% url 'lupus:gm_modifica_iscritto'%}", doneMod, failMod)});
});

</script>
{%endblock %}
