{% extends layout|default:"lupus/layout_gm_global.html" %}
{% block title %}
<div class="lp-panel lp-panel-info">
	<h3>Gestione matches</h3>
</div>
{% endblock %}

{% block title_nav %}Gestione matches{% endblock %}

{% block body %}
<div class="lp-panel lp-panel-default">
	<h4>Aggiungi match</h4>
	<table style="width:50%; text-align:center;" class="nicehover" id="table_event">
		<thead>
			<tr>
				<th>Nome</th>
				<th>Data di fine registrazione</th>
				<th>Data di inizio</th>
				<th>Villaggio</th>
				<th>Attivo</th>
				{% if su_perms %}
					<th>GM</th>
				{% endif %}
			</tr>
		</thead>
		<tbody>
			<tr>
				<form action="{% url 'lupus:gm_aggiungi_match'%}" method="POST" id="form_add">
					{% csrf_token %}
					<td>
						<input type="text" name="nome" class="form-select" required/>
					</td>
					<td>
						<input type="date" id="regenddate_add" name="regenddate" class="form-select" required min="{{today|date:'Y-m-d'}}"/>
					</td>
					<td>
						<input type="date" id="startdate_add" name="startdate" class="form-select" required min="{{tomorrow|date:'Y-m-d'}}"/>
					</td>
					<td>
						<input type="text" name="villaggio" class="form-select" required/>
					</td>
					<td>
						<input type="checkbox" name="attivo" class="form-select"/>
					</td>
					{% if su_perms %}
						<td>
							<select name="gm" class="form-select">
								<option value=""></option>
								{% for u in users %}
									<option value="{{u.id}}">{{ u.nome }}</option>
								{% endfor %}
							</select>
						</td>
					{% endif %}
					<td><input type="submit" id="add" class="btn aggiungi" value="Aggiungi"/></td>
				</form>
			</tr>
		</tbody>
	</table>
</div>

<div class="lp-panel lp-panel-default">
	<h4>Matches</h4>
	<table style="width:60%; text-align:center;" class="nicehover" id="table_event">
		<thead>
			<tr>
				<th style="max-width: 70px;">Nome</th>
				<th style="max-width: 70px;">Data di fine registrazione</th>
				<th style="max-width: 70px;">Data di inizio</th>
				<th>Data di fine</th>
				<th>Villaggio</th>
				<th>Attivo</th>
				<th>Vincitore</th>
				{% if su_perms %}
					<th>GM</th>
				{% endif %}
			</tr>
		</thead>
		<tbody>
			{% for m in matches %}
			<tr>
				<form action="{% url 'lupus:gm_modifica_match'%}" method="POST" id="form_{{m.id}}">
					{% csrf_token %}
					<input type="hidden" value="{{m.id}}" id="id_match" name="id_match"/>
					<td style="max-width: 70px;">{{m.nome}}</td>
					{% if m.isStarted or m.winner %}
					<td style="max-width: 70px;">{{m.regenddate|date:"d/m/Y"}}</td>
					<td style="max-width: 70px;">{{m.startdate|date:"d/m/Y"}}</td>
					{% else %}
					<td>
						<input type="date" name="regenddate" class="form-select" value="{{m.regenddate|date:'Y-m-d'}}"/>
					</td>
					<td>
						<input type="date" name="startdate" class="form-select" value="{{m.startdate|date:'Y-m-d'}}"/>
					</td>
					{% endif %}
					<td><input type="date" name="enddate" value="{{m.enddate|date:'Y-m-d'}}" class="form-select"/></td>
					<td>{{m.villaggio.name}}</td>
					<td><input type="checkbox" name="attivo" class="form-select" {% if m.active %}checked="checked"{% endif %}/></td>
					<td>
						<select name="winner" class="form-select">
							{% for f in factions %}
								<option value="{{f.0}}" {% ifequal f.0 m.winner %}selected{% endifequal %}>{{f.1}}</option>
							{% endfor %}
						</select>
					</td>
					{% if su_perms %}
						<td>
							<select name="gm" class="form-select">
								<option value="" {% ifequal m.gm None %}selected{% endifequal %}></option>
								{% for u in users %}
									<option value="{{u.id}}" {% ifequal m.gm.id u.id %}selected{% endifequal %}>{{ u.nome }}</option>
								{% endfor %}
							</select>
						</td>
					{% endif %}
					<td><input type="submit" id="mod_{{m.id}}" class="btn modifica" value="Salva"/></td>
					<td><input type="submit" value="Elimina" formaction="{% url 'lupus:gm_elimina_match'%}" class="btn elimina" id="del_{{m.id}}"/></td>
					<td><input type="submit" value="Disattiva utenti" formaction="{% url 'lupus:gm_disattiva_utenti_match'%}" class="btn deact" id="deact_{{m.id}}"/></td>
				</form>
			</tr>
			{% empty %}
				<tr>
					<td colspan="7">Nessun match.</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
</div>

{% endblock %}

{% block style %}
input {
	max-width: 120px;
}

@media (min-width:1000px) {
.big-container, .head, .foot {width:100%;}
}

@media (min-width:1100px) {
.big-container, .head, .foot {width:1040px;}
}
{% endblock %}

{% block scriptfootgm %}
<script type="text/javascript">
$(document).ready(function(){
	$(".modifica").attr("type", "button");
	$(".elimina").attr("type", "button");

	var doneDel = function(f) {f.parent().fadeOut("normal", function(){$(this).remove();});};
	var failDel = function() {$(".alerts").append("<div class=\"alert alert-error\"><div class=\"alert-txt\">Errore durante l'eliminazione del match.</div></div>");};

	var doneMod = function(f) {$(".alerts").append("<div class=\"alert alert-success\"><div class=\"alert-txt\">Modifica effettuata con successo.</div></div>");};
	var failMod = function() {$(".alerts").append("<div class=\"alert alert-error\"><div class=\"alert-txt\">Errore durante la modifica del match.</div></div>");};

	var f = function(b, destinazione, done, fail) {
		var id = b.attr("id").replace("del_", "").replace("mod_", "");
		var form = $("#form_"+id);
		$.ajax({
			url: destinazione,
			type: "POST",
			data: form.serialize(),
			beforeSend: function(xhr, settings) {
				xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
			}
		}).done(function(data){
			if (data == "Fail") {
				fail();
			} else {
				done(form);
			}
		}).fail(function(){
			fail();
		});
	};

	$(".elimina").on("click", function(){f($(this), "{% url 'lupus:gm_elimina_match'%}", doneDel, failDel);});
	$(".modifica").on("click", function(){f($(this), "{% url 'lupus:gm_modifica_match'%}", doneMod, failMod);});

	var regenddate_add = document.querySelector("#regenddate_add");
	var startdate_add = document.querySelector("#startdate_add");
	if (!Modernizr.inputtypes.date) {
		updateMinDate = function (){
			var today = new Date("{{ today|date:'Y-m-d'}}");
			$("#regenddate_add").datepicker("option", "minDate", today);
			$("#startdate_add").datepicker("option", "minDate", new Date(today.getTime()+24*60*60*1000));
			regenddate_add.onchange = function(){
				$("#startdate_add").datepicker("option", "minDate", new Date((new Date($(this).val())).getTime()+24*60*60*1000));
			}
			$("[type='date']").off("focus", updateMinDate);
		}
		$("[type='date']").on("focus", updateMinDate);
	} else {
		regenddate_add.onchange = function(){
			var minDate = new Date((new Date(regenddate_add.value)).getTime()+24*60*60*1000);
			var month = minDate.getMonth() + 1;
			if (month<10){ month = "0" + month; }
			var day = minDate.getDate();
			if (day<10){ day = "0" + day; }
			startdate_add.setAttribute("min", minDate.getFullYear() + "-" + month + "-" + day);
		}
	}
});
</script>
{%endblock %}
