{% extends layout|default:"lupus/layout_gm_match.html" %}
{% block title %}
Gestione note
{% endblock %}

{% block title_nav %}
Gestione note
{% endblock %}

{% block body %}
<div class="lp-panel lp-panel-default">
	<h4>Aggiungi nota</h4>
	<table style="width:100%; text-align:center;" class="nicehover" id="table_event">
		<thead>
			<tr>
				<th>Data</th>
				<th>Utente 1</th>
				<th>Utente 2</th>
				<th>Flag</th>
				<th style="width:25%;">Opt</th>
				<th>Text</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<form action="{% url 'lupus:gm_aggiungi_nota'%}" method="POST" id="form_add">
					{% csrf_token %}
					<input type="hidden" name="matchid" id="matchid" value="{{match.id}}"/>
					<td>
						<input type="date" name="date" class="form-select" required/>
					</td>
					<td>
						<select id="sel_u1" name="utente1" class="form-select">
							{% for u in users %}
								<option value="{{u.id}}">{{ u.nome }}</option>
							{% endfor %}
						</select>
					</td>
					<td>
						<select id="sel_u2" name="utente2" class="form-select">
							<option value=""></option>
							{% for u in users %}
								<option value="{{u.id}}">{{ u.nome }}</option>
							{% endfor %}
						</select>
					</td>
					<td>
						<select name="flags" class="form-select">
							{% for c in choices %}
								<option value="{{c.0}}">{{ c.1 }}</option>
							{% endfor %}
						</select>
					</td>
					<td>
						<input type="number" name="opt" class="form-select" style="width:100%;" value="0"/>
					</td>
					<td>
						<input type="text" name="text" maxlength="50" class="form-select"/>
					</td>
					<td>
						<input type="submit" value="Aggiungi" class="btn" id="add"/>
					</td>
				</form>
			</tr>
		</tbody>
	</table>
</div>

<div class="lp-panel lp-panel-default">
	<h4>Note</h4>
	<table style="width:90%; text-align:center;" class="nicehover" id="table_note">
		<thead>
			<tr>
				<th>Data</th>
				<th>Utente 1</th>
				<th>Utente 2</th>
				<th>Flag</th>
				<th>Opt</th>
				<th>Text</th>
			</tr>
		</thead>
		<tbody>
			{% for n in notes %}
			<tr>
				<form action="{% url 'lupus:gm_modifica_nota'%}" method="POST" id="form_{{n.id}}">
					{% csrf_token %}
					<input type="hidden" name="matchid" id="matchid" value="{{match.id}}"/>
					<input type="hidden" value="{{n.id}}" id="id_nota" name="id_nota"/>
					<td>
						<p>{{n.time|date:"d/m/Y"}}</p>
					</td>
					<td>
						<p>{{n.utente1.nome}}</p>
					</td>
					<td>
						<select id="sel_u2" name="utente2" class="form-select">
							<option value="" {% ifequal n.utente2.id None %}selected{% endifequal %}></option>
							{% for u in users %}
								<option value="{{u.id}}" {% ifequal n.utente2.id u.id %}selected{% endifequal %}>{{ u.nome }}</option>
							{% endfor %}
						</select>
					</td>
					<td>
						<select name="flags" class="form-select small-field">
							{% for c in choices %}
								<option value="{{c.0}}" {% ifequal n.flags c.0 %}selected{% endifequal %}>{{ c.1 }}</option>
							{% endfor %}
						</select>
					</td>
					<td>
						<input type="number" name="opt" value="{{n.opt}}" class="form-select" style="width:100%;"/>
					</td>
					<td>
						<input type="text" name="text" value="{{n.text}}" maxlength="50" class="form-select"/>
					</td>
					<td>
						<input type="submit" value="Salva" class="btn modifica" id="mod_{{n.id}}"/>
					</td>
					<td>
						<input type="submit" value="Elimina" formaction="{% url 'lupus:gm_elimina_nota'%}" class="btn elimina" id="del_{{n.id}}"/>
					</td>
				</form>
			</tr>
			{% empty %}
				<tr>
					<td colspan="5">Nessuna nota.</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
</div>

{% endblock %}

{% block scriptfootgm %}
<script type="text/javascript">
$(document).ready(function(){
	$(".modifica").attr("type", "button");
	$(".elimina").attr("type", "button");

	doneDel = function(f) {f.parent().fadeOut("normal", function(){$(this).remove();});};
	failDel = function() {$(".alerts").append("<div class=\"alert alert-error\"><div class=\"alert-txt\">Errore durante l'eliminazione della nota.</div></div>");};

	doneMod = function(f) {$(".alerts").append("<div class=\"alert alert-success\"><div class=\"alert-txt\">Modifica effettuata con successo.</div></div>");};
	failMod = function() {$(".alerts").append("<div class=\"alert alert-error\"><div class=\"alert-txt\">Errore durante la modifica della nota.</div></div>");};

	f = function(b, destinazione, done, fail) {
		id = b.attr("id").replace("del_", "").replace("mod_", "");
		form = $("#form_"+id);
		$.ajax({
			url: destinazione,
			type: "POST",
			data: form.serialize(),
			beforeSend: function(xhr, settings) {
				xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
			}
		}).done(function(){
			done(form)
		}).fail(function(){
			fail()
		});
	};

	$(".elimina").on("click", function(){f($(this), "{% url 'lupus:gm_elimina_nota'%}", doneDel, failDel)});
	$(".modifica").on("click", function(){f($(this), "{% url 'lupus:gm_modifica_nota'%}", doneMod, failMod)});
});
</script>
{%endblock %}

{% block style %}
input, select {
	max-width: 120px;
	min-width: 40px;
}

.small-field {
	max-width: 60px;
}
{% endblock %}
