{% extends layout|default:"lupus/layout_gm_global.html" %}
{% block title %}
<div class="lp-panel lp-panel-info">
	<h3>Cambio profilo</h3>
</div>
{% endblock %}

{% block title_nav %}
Emulazione profilo
{% endblock %}

{% block body %}
<div class="lp-panel lp-panel-default">
	<h4>Cambia profilo</h4>
	<form method="POST" action="{% url 'lupus:gm_setprofile' %}">
		{% csrf_token %}
		<label for="profile">Scegliere un profilo: </label>
		<select id="profile" name="profile" class="form-select">
			{% for u in users %}
				<option value="{{u.id}}">{{u.nome}}</option>
			{% endfor %}
		</select>
		<input type="submit" value="Cambia" class="btn"/>
	</form>
</div>
<div class="lp-panel lp-panel-default">
	<form method="POST" action="{% url 'lupus:gm_setprofile' %}">
		{% csrf_token %}
		<label for="reset">Reimpostare il profilo: </label>
		<input type="hidden" value="-1" name="profile"/>
		<input type="submit" value="Reset" class="btn" id="reset"/>
	</form>
</div>
{% endblock %}
