{% extends layout|default:"lupus/layout_gm_match.html" %}
{% block title %}
Assegnazione dei ruoli e dei gruppi
{% endblock %}

{% block title_nav %}
Assegnazione dei ruoli e dei gruppi
{% endblock %}

{% block body %}
<div class="lp-panel lp-panel-default">
	<form action="{% url 'lupus:gm_set_users_role'%}" method="POST">
	<table style="width:60%; text-align:center; margin-left:auto; margin-right:auto;" class="nicehover" id="table_user">
		<thead>
			<tr>
				<th>Utente</th>
				<th>Ruolo</th>
				<th>Gruppo</th>
			</tr>
		</thead>
		<tbody>
			{% for u in users %}
				<tr>
					<td>
						<span title="{{ u.nome_full }}">{{ u.nome }}</span>
					</td>
					<td>
						<select id="ruolo_{{u.id}}" class="role-select form-select">
							{%for r in ruoli %}
								<option value="{{r.id}}" {% ifequal r.id u.ruolo %}selected{% endifequal %}>{{r.nome}}</option>
							{% endfor %}
						</select>
					</td>
					<td>
						<select id="gruppo_{{u.id}}" class="group-select form-select">
							<option value="" {% ifequal "" u.gruppo %}selected{% endifequal %}></option>
							{%for g in gruppi %}
								<option value="{{g.id}}" {% ifequal g.id u.gruppo %}selected{% endifequal %}>{{g.name}}</option>
							{% endfor %}
						</select>
					</td>
				</tr>
			{% empty %}
			<tr>
				<td colspan="2">Nessun utente iscritto a questo match.</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
	<noscript>
		{% csrf_token %}
        <p style="text-align: center">
		<input type="hidden" name="matchid" id="matchid" value="{{match.id}}"/>
		<input type="submit" value="Salva" class="btn"/>
        </p>
	</noscript>
	</form>
</div>

<div class="lp-panel lp-panel-default" style="text-align:center;">
	<h4>Genera casualmente i ruoli</h4>
	<p>Inserire il numero di utenti che devono avere il ruolo:   <span style="font-style: italic; font-size: 9.5pt;">(Il ruolo GM verrà assegnato automaticamente)</span></p>
	<form method="POST" action="{% url 'lupus:gm_set_user_role_random'%}">
	<table style="margin-left:auto; margin-right:auto;">
		<tbody>
			{% for r in ruoli2 %}
			<tr>
				<td><label for="ruolo_{{ r.id }}">{{r.nome}}</label></td>
				<td><input type="number" min="0" id="ruolo_{{ r.id }}" name="ruolo_{{ r.id }}" value=0 class="form-select" /></td>
			</tr>
			{% empty %}
				<tr><td><p>Nessun ruolo.</p></td></tr>
			{% endfor %}
			{% csrf_token %}
		</tbody>
	</table>
		<input type="hidden" name="matchid" id="matchid" value="{{match.id}}"/>
		<br />
		<input class="btn" type="submit" value="Genera"/>
	</form>
</div>

{% endblock %}

{% block scriptfootgm %}

<script type="text/javascript">
$(document).ready(function(){
	$("#btn_sel").remove()
	ruoli_option = {%for r in ruoli %}"<option value=\"{{r.id}}\">{{r.nome}}</option>" + {% endfor %} ""
	gruppi_option = {%for g in gruppi %}"<option value=\"{{g.id}}\">{{g.name}}</option>" + {% endfor %} ""
	g = function(u_id, r_id, role){
		var g;
		if (!role) { g = "g"; } 
		$.ajax({
			url: "{% url 'lupus:gm_set_user_role'%}",
			type: "POST",
			data: "user="+u_id+"&role="+r_id+"&is-role="+role,
			beforeSend: function(xhr, settings) {
				xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
			}
			}).done(function(data){
				$("#"+g+u_id).css("border-color", "green");
				setTimeout(function() {$("#"+u_id).css("border-color", "#fff"); }, 3000)
			}).fail(function(){
				$("#"+g+u_id).css("background-color", "red");
				setTimeout(function() {$("#"+u_id).css("background-color", "#fff"); }, 3000)
			});
	}
	$(".role-select").on("change", function(){
		g($(this).attr("id").replace("ruolo_", ""), $(this).val(), true);
	});
	$(".group-select").on("change", function(){
		g($(this).attr("id").replace("gruppo_", ""), $(this).val(), false);
	});
	});
</script>

{% endblock %}
