{% extends layout|default:"lupus/layout_gm_global.html" %}
{% block title %}
<div class="lp-panel lp-panel-info">
	<h3>Gestione staff</h3>
</div>
{% endblock %}

{% block title_nav %}
Gestione permessi utenti
{% endblock %}

{% block body %}
<div class="lp-panel lp-panel-default">
<h4>Staff</h4><p><span>(cliccare per rimuovere)</span></p>
<br />
<ul>
	{% for s in staff %}
		<li><a href="{% url 'lupus:gm_su_elimina' s.id %}">{{s.username}}</a></li>
	{% empty %}
		<li>Nessuno</li>
	{% endfor %}
</ul>
<br />
<form method="POST" action="{% url 'lupus:gm_staff_add' %}">
	{% csrf_token %}
	<label for="staff">Aggiungi allo staff: </label>
	<select id="staff" name="staff" class="form-select">
		{% for u in candidates %}
			<option value="{{u.id}}">{{u.username}}</option>
		{% endfor %}
	</select>
	<input type="submit" value="Aggiungi" class="btn"/>
</form>
</div>

<div class="lp-panel lp-panel-default">
<h4>Superuser</h4><p><span>(cliccare per rimuovere)</span></p>
<br />
<ul>
	{% for s in superusers %}
		<li><a href="{% url 'lupus:gm_su_elimina' s.id %}">{{s.username}}</a></li>
	{% endfor %}
</ul>
<br />
<form method="POST" action="{% url 'lupus:gm_su_add' %}">
	{% csrf_token %}
	<label for="superuser">Aggiungi ai superusers: </label>
	<select id="superuser" name="superuser" class="form-select">
		{% for u in candidates %}
			<option value="{{u.id}}">{{u.username}}</option>
		{% endfor %}
	</select>
	<input type="submit" value="Aggiungi" class="btn"/>
</form>
</div>

{% endblock %}

{% block style %}
span {
	font-style: italic;
}
{% endblock %}
