{% extends layout|default:"lupus/layout_gm_match.html" %}
{% load filter %}
{% block title %}
Gestione stati
{% endblock %}

{% block title_nav %}
Gestione status
{% endblock %}

{% block body %}
<div class="lp-panel lp-panel-default">
	<h4>Stati</h4>
	<table style="width:100%; text-align:center;" class="nicehover table-with-padding" id="table_event">
		<thead>
			<tr>
			{% with tot=flags|length|add:"3" %}
				<th style="width:{% widthratio 100 tot 1 %}%;">Utente</th>
				<th style="width:{% widthratio 100 tot 1 %}%;">Vivo</th>
				{% for s in flags %}
				<th style="width:{% widthratio 100 tot 1 %}%;">{{s.Nome}}</th>
				{% endfor %}
				<th></th>
			{% endwith %}
			</tr>
		</thead>
		<tbody>
			{% for i, s in stati.items %}
				<tr>
					<form action="{% url 'lupus:gm_modifica_status'%}" method="POST" id="form_{{i}}">
						{% csrf_token %}
						<input type="hidden" name="matchid" id="matchid" value="{{match.id}}"/>
						<input type="hidden" value="{{i}}" id="id_utente" name="id_utente"/>
						<td><p>{{s.nome}}</p></td>
						<td><input type="checkbox" name="vivo" id="vivo_{{i}}" value=1 {% if "VIVO" in s %}checked="checked"{% endif %}/></td>
						{% for f in flags %}
							<td><input type="checkbox" name="{{f.ID|lower}}" id="{{f.ID|lower}}_{{i}}" value=1 {% if f.ID in s %}checked="checked"{% endif %}/>
							{% if f.DOC_OPT %}
								<input type="number" id="{{f.ID|lower}}opt_{{i}}" name="{{f.ID|lower}}opt" style="width:30pt; margin-left:6pt;" class="form-select" value="{{s|dictget:f.ID}}" title="{{f.DOC_OPT}}"/>
							{% endif %}
						{% endfor %}
						</td>
						<td><input type="submit" value="Salva" class="btn modifica" id="mod_{{i}}"/></td>
					</form>
				</tr>
			{% empty %}
				<tr>
					<td colspan="7">Nessun utente iscritto a questo match.</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
</div>



<div class="lp-panel lp-panel-default">
	<h4>Generazione casuale</h4>
	<form action="{% url 'lupus:gm_assegnamento_status_random'%}" method="POST">
		<input type="hidden" name="matchid" id="matchid" value="{{match.id}}"/>
		{% csrf_token %}
		<label for="sind">Sindaco: </label>
		<input type="checkbox" value=1 name="sind" id="sind" style="margin-right: 3%;">
		<label for="vecc">Vecchio: </label>
		<input type="checkbox" value=1 name="vecc" id="vecc" style="margin-right: 3%;">
		<label for="cup">Cupido: </label>
		<input type="checkbox" value=1 name="cup" id="cup" style="margin-right: 3%;">
		<label for="roc">Rocco: </label>
		<input type="checkbox" value=1 name="roc" id="roc" style="margin-right: 3%;">
		<input type="submit" value="Genera casualmente" class="btn"/>
	</form>
	<h4>Pulizia status</h4>
	<p>Imposta lo stato di ogni giocatore a "vivo" e rimuove tutti gli status.
		<form action="{% url 'lupus:gm_pulizia_status'%}" method="POST">
			<input type="hidden" name="matchid" id="matchid" value="{{match.id}}"/>
			{% csrf_token %}
			<input type="submit" value="Pulisci" class="btn" style="margin-left: 10%; margin-top: 1%;"/>
		</form>
	</p>
</div>
{% endblock %}


{% block scriptfootgm %}
<script type="text/javascript">
$(document).ready(function(){
	$(".modifica").attr("type", "button");
		
	var doneMod = function() {$(".alerts").append("<div class=\"alert alert-success\"><div class=\"alert-txt\">Modifica effettuata con successo.</div></div>");};
	var failMod = function() {$(".alerts").append("<div class=\"alert alert-error\"><div class=\"alert-txt\">Errore durante la modifica.</div></div>");};
	
	var f = function(b, inn, del) {
		var id = b.attr("id").replace("mod_", "");
		var form = $("#form_"+id);
		$.ajax({
		url: "{% url 'lupus:gm_modifica_status'%}",
		type: "POST",
		data: form.serialize(),
		beforeSend: function(xhr, settings) {
			xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
		}
		}).done(function(){
			doneMod();
			$.each($("[type='checkbox']", form.parent()), function (index, value) {
				var checkboxId = $(value).attr("id");
				var optId = checkboxId.substring(0, checkboxId.lastIndexOf("_")) + "opt" + checkboxId.substring(checkboxId.lastIndexOf("_"));
				if (!$(value).is(":checked")) {
					$("#"+optId).val("");
				}
			});
		}).fail(function(){
			failMod();
		});
	};
	
	$(".modifica").on("click", function(){f($(this), false, false)});
});
</script>
{% endblock %}
