{% extends layout|default:"lupus/layout_gm_match.html" %}
{% block title %}
Gestione {% ifequal flags "notte" %}azioni della notte {{night_id}}{% else %} votazioni del giorno {{day_id}}{% endifequal %}</h3>
{% endblock %}

{% block title_nav %}
Gestione {% ifequal flags "notte" %}notte{% else %} votazioni e linciaggio{% endifequal %}
{% endblock %}

{% block body %}
{% if valid or svalid %}
{% ifequal flags "notte" %}
<div class="lp-panel">
<div>
	<h4>Azioni avvenute durante la notte</h4>
	<ul>
		{% for a in azioni %}
			<li>{{a.agente.nome}} [{{a.agente.id}}] ({{a.agente.ruolo}}) ha agito su {{a.bersaglio.nome}} [{{a.bersaglio.id}}] ({{a.bersaglio.ruolo}})</li>
		{% empty %}
				<li>Nessuna azione durante questa notte.</li>
		{% endfor %}
	</ul>
	<br />
	<h4>Vecchi</h4>
	<ul>
	{%for v in vecchi %}
		<li>{{v.nome}}</li>
	{% endfor %}
	</ul>
	<br />
	<h4>Innamnorati</h4>
	<ul>
	{%for i in innamorati %}
		<li>{% for u in i %}{% if forloop.last %}{{u.nome|capfirst}}{% else %}{{u.nome|capfirst}} - {% endif %}{% endfor %}</li>
	{% endfor %}
	</ul>
</div>
</div>
{% else %}
<div class="lp-panel lp-panel-default">
	{% if valid %}
		<h4>Voti per il linciaggio:</h4>
		<table>
			<thead>
				<tr>
					<th>Nome</th>
					<th>Voti</th>
				</tr>
			</thead>
			<tbody>
				{% for v in votes %}
					<tr>
						<td>{{v.utente.nome}}</td>
						<td>{{v.count}}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
		<p>Ha votato il {% widthratio conteggio_linciaggio numero 100 %}% degli aventi diritto. ({{conteggio_linciaggio}}/{{numero}})</p>
		<br />
	{% else %}
		<h4>Linciaggio: Attenzione!</h4>
		<p>{{messag}}</p>
	{% endif %}
	{% if svalid %}
	<h4>Voti per l'elezione del sindaco:</h4>
	<table>
		<thead>
			<tr>
				<th>Nome</th>
				<th>Voti</th>
			</tr>
		</thead>
		<tbody>
		{% for v in svotes %}
			<tr>
				<td>{{v.utente.nome}}</td>
				<td>{{v.count}}</td>
			</tr>
		{% endfor %}
		</tbody>
	</table>
	<p>Ha votato il {% widthratio conteggio_sindaco numero 100 %}% degli aventi diritto. ({{conteggio_sindaco}}/{{numero}})</p>
	{% else %}
		<h4>Sindaco: Attenzione!</h4>
		<p>{{smessag}}</p>
	{% endif %}
</div>
{% endifequal %}

<div class="lp-panel">
	<h4>Proposta di valutazione</h4>
	<br />
	<form method="POST" action="{% url 'lupus:gm_conferma_notte' %}">
	{% csrf_token %}
	<input type="hidden" name="mid" value="{{match.id}}"/>
	<h5>Morti e risorti</h5>
	<table style="width:80%;" class="list-none">
		{{stati_form}}
	</table>
	<br />
	<h5>Eventi</h5>
		{{ eventi_formset.non_form_errors.as_ul }}
		<table class="nicehover">
		{{ eventi_formset.management_form }}
		{% for form in eventi_formset.forms %}
		  {% if forloop.first %}
		  <thead><tr>
		    {% for field in form.visible_fields %}
		    <th>{{ field.label|capfirst }}</th>
		    {% endfor %}
		  </tr></thead>
		  <tbody id="events">
		  {% endif %}
		  <tr>
		  {% for field in form.visible_fields %}
		    <td>
		    {% if forloop.first %}
		      {% for hidden in form.hidden_fields %}
		      {{ hidden }}
		      {% endfor %}
		    {% endif %}
		      {{ field.errors.as_ul }}
		      {{ field }}
		    </td>
		  {% endfor %}
		  </tr>
		  {% empty %}
		  <thead><tr>
		    {% for field in eventi_formset.empty_form.visible_fields %}
		    <th>{{ field.label|capfirst }}</th>
		    {% endfor %}
		  </tr></thead>
		  <tbody id="events">
		{% endfor %}
		</tbody>
		</table>
		<input type="button" value="Aggiungi" class="add-evento btn right"/>
	<br />
	<h5>Note</h5>
	{{ note_formset.non_form_errors.as_ul }}
		<table class="nicehover">
		{{ note_formset.management_form }}
		{% for form in note_formset.forms %}
		  {% if forloop.first %}
		  <thead><tr>
		    {% for field in form.visible_fields %}
		    <th>{{ field.label|capfirst }}</th>
		    {% endfor %}
		  </tr></thead>
		  <tbody id="notes">
		  {% endif %}
		  <tr>
		  {% for field in form.visible_fields %}
		    <td>
		    {% if forloop.first %}
		      {% for hidden in form.hidden_fields %}
		      {{ hidden }}
		      {% endfor %}
		    {% endif %}
		      {{ field.errors.as_ul }}
		      {{ field }}
		    </td>
		  {% endfor %}
		  </tr>
		  {% empty %}
		  <thead><tr>
		    {% for field in note_formset.empty_form.visible_fields %}
		    <th>{{ field.label|capfirst }}</th>
		    {% endfor %}
		  </tr></thead>
		  <tbody id="notes">
		{% endfor %}
		</tbody>
		</table>
		<input type="button" value="Aggiungi" class="add-nota btn right"/>
	<br />
	<h5>Status</h5>
		{{ status_formset.non_form_errors.as_ul }}
		<table class="nicehover">
		{{ status_formset.management_form }}
		{% for form in status_formset.forms %}
		  {% if forloop.first %}
		  <thead><tr>
		    {% for field in form.visible_fields %}
		    <th>{{ field.label|capfirst }}</th>
		    {% endfor %}
		  </tr></thead>
		  <tbody id="statuses">
		  {% endif %}
		  <tr>
		  {% for field in form.visible_fields %}
		    <td>
		    {% if forloop.first %}
		      {% for hidden in form.hidden_fields %}
		      {{ hidden }}
		      {% endfor %}
		    {% endif %}
		      {{ field.errors.as_ul }}
		      {{ field }}
		    </td>
		  {% endfor %}
		  </tr>
		  {% empty %}
		  <thead><tr>
		    {% for field in status_formset.empty_form.visible_fields %}
		    <th>{{ field.label|capfirst }}</th>
		    {% endfor %}
		  </tr></thead>
		  <tbody id="statuses">
		{% endfor %}
		</tbody>
		</table>
		<input type="button" value="Aggiungi" class="add-status btn right"/>
	<br />
	<div>
	<input type="submit" value="Conferma" class="btn"/>
	<small><a href="" class="btn">Reimposta</a></small>
	</div>
	</form>
	<table style="display:none;">
		<tbody id="evento-empty"><tr>{% for field in eventi_formset.empty_form.visible_fields %}<td>{{ field }}</td>{% endfor %}</tr></tbody>
		<tbody id="nota-empty"><tr>{% for field in note_formset.empty_form.visible_fields %}<td>{{ field }}</td>{% endfor %}</tr></tbody>
		<tbody id="status-empty"><tr>{% for field in status_formset.empty_form.visible_fields %}<td>{{ field }}</td>{% endfor %}</tr></tbody>
	</table>
</div>

{% else %}
<div class="lp-panel lp-panel-error">
	<h4>Attenzione!</h4>
	{% ifequal flags "notte" %}
		{% if not messag %}
			<p>La notte dura dalle {{start|date:"G:i"}} alle {{end|date:"G:i"}} del giorno dopo{% if isWEnight %}, e durante i weekend{% endif %}. Attenderne il termine.</p>
		{% else %}
			<p>{{messag}}</p>
		{% endif %}
	{% else %}
		<p>Linciaggio: <br />{{messag}}</p>
		<br />
		<p>Sindaco: <br />{{smessag}}</p>
	{% endifequal %}
</div>
{% endif %}
{% endblock %}

{% block style %}
select, input {
  max-width: 150px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
       -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
          transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
select:focus, input:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
          box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}
select:-moz-placeholder, input:-moz-placeholder {
  color: #999;
  opacity: 1;
}
select:-ms-input-placeholder, input:-ms-input-placeholder {
  color: #999;
}
select:-webkit-input-placeholder, input:-webkit-input-placeholder {
  color: #999;
}

.right {
	float: right;
	max-height: 30px;
	padding: 0;
	font-weight: normal;
}

table {
	width:100%;
}

.list-none ul {
	list-style-type: none;
	display: flex;
	flex-wrap: wrap;
}

.list-none ul li {
	margin: 5px;
}

{% endblock %}

{% block scriptfootgm %}
<script>
$(document).ready(function() {
    $('.add-evento').on("click", function(ev) {
        ev.preventDefault();
        var count = $('#events').children().length;
        var tmplMarkup = $("#evento-empty").html();
        var compiledTmpl = tmplMarkup.replace(/__prefix__/g, count);
        $('#events').append(compiledTmpl);
        $('#id_eventi-TOTAL_FORMS').attr('value', count+1);
    });
    $('.add-nota').on("click", function(ev) {
        ev.preventDefault();
        var count = $('#notes').children().length;
        var tmplMarkup = $("#nota-empty").html();
        var compiledTmpl = tmplMarkup.replace(/__prefix__/g, count);
        $('#notes').append(compiledTmpl);
        $('#id_note-TOTAL_FORMS').attr('value', count+1);
    });
    $('.add-status').on("click", function(ev) {
        ev.preventDefault();
        var count = $('#statuses').children().length;
        var tmplMarkup = $("#status-empty").html();
        var compiledTmpl = tmplMarkup.replace(/__prefix__/g, count);
        $('#statuses').append(compiledTmpl);
        $('#id_status-TOTAL_FORMS').attr('value', count+1);
    });
});
</script>
{% endblock %}
