{% extends layout|default:"lupus/layout_gm_match.html" %}
{% block title %}
Gestione voti
{% endblock %}

{% block title_nav %}
Gestione voti
{% endblock %}

{% block body %}
<div class="lp-panel lp-panel-default">
	<h4>Aggiungi voto</h4>
	<table style="width:50%; text-align:center;" class="nicehover">
		<thead>
			<tr>
				<th>Data</th>
				<th>Votante</th>
				<th>Motivo</th>
				<th>Votato</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<form action="{% url 'lupus:gm_aggiungi_voto'%}" method="POST" id="form_add">
					{% csrf_token %}
					<input type="hidden" name="matchid" id="matchid" value="{{match.id}}"/>
					<td>
						<input type="date" name="date" class="form-select" required/>
					</td>
					<td>
						<select id="sel_votante" name="votante" class="form-select">
							{% for u in users %}
								<option value="{{u.id}}">{{ u.nome }}</option>
							{% endfor %}
						</select>
					</td>
					<td>
						<select id="sel_motivo" name="motivo" class="form-select">
								<option value="1">Linciaggio</option>
								<option value="2">Sindaco</option>
						</select>
					</td>
					<td>
						<select id="sel_votato" name="votato" class="form-select">
							{% for u in users %}
							<option value="{{u.id}}">{{ u.nome }}</option>
							{% endfor %}
						</select>
					</td>
					<td>
						<input type="submit" value="Aggiungi" class="btn" id="add"/>
					</td>
				</form>
			</tr>
		</tbody>
	</table>
</div>

<div class="lp-panel lp-panel-default">
	<h4>Voti</h4>
	<table style="width:60%; text-align:center;" class="nicehover" id="table_event">
		<thead>
			<tr>
				<th>Data</th>
				<th>Votante</th>
				<th>Motivo</th>
				<th>Votato</th>
			</tr>
		</thead>
		<tbody>
			{% for v in voti %}
			<tr>
				<form action="{% url 'lupus:gm_modifica_voto'%}" method="POST" id="form_{{v.id}}">
					{% csrf_token %}
					<input type="hidden" name="matchid" id="matchid" value="{{match.id}}"/>
					<input type="hidden" value="{{v.id}}" id="id_voto" name="id_voto"/>
					<td>
						<p> {{v.time|date:"d/m/Y"}}</p>
					</td>
					<td>
						<p>{{v.votante.nome}}</p>
					</td>
					<td>
						<select id="sel_motivo" name="motivo" class="form-select">
							<option value="1" {% ifequal 1 v.flags %}selected{% endifequal %}>Linciaggio</option>
							<option value="2" {% ifequal 2 v.flags %}selected{% endifequal %}>Sindaco</option>
						</select>
					</td>
					<td>
						<select id="sel_votato" name="votato" class="form-select">
							{% for u in users %}
							<option value="{{u.id}}" {% ifequal u.id v.risultato.utente.id %}selected{% endifequal %}>{{ u.nome }}</option>
							{% endfor %}
						</select>
					</td>
					<td>
						<input type="submit" value="Salva" class="btn modifica" id="mod_{{v.id}}"/>
					</td>
					<td>
						<input type="submit" value="Elimina" formaction="{% url 'lupus:gm_elimina_voto'%}" class="btn elimina" id="del_{{v.id}}"/>
					</td>
				</form>
			</tr>
			{% empty %}
				<tr>
					<td colspan="4">Nessun voto.</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
</div>

{% endblock %}

{% block scriptfootgm %}
<script type="text/javascript">
$(document).ready(function(){
	$(".modifica").attr("type", "button");
	$(".elimina").attr("type", "button");

	doneDel = function(f) {f.parent().fadeOut("normal", function(){$(this).remove();});};
	failDel = function() {$(".alerts").append("<div class=\"alert alert-error\"><div class=\"alert-txt\">Errore durante l'eliminazione del voto.</div></div>");};

	doneMod = function(f) {$(".alerts").append("<div class=\"alert alert-success\"><div class=\"alert-txt\">Modifica effettuata con successo.</div></div>");};
	failMod = function() {$(".alerts").append("<div class=\"alert alert-error\"><div class=\"alert-txt\">Errore durante la modifica del voto.</div></div>");};

	f = function(b, destinazione, done, fail) {
		id = b.attr("id").replace("del_", "").replace("mod_", "");
		form = $("#form_"+id);
		$.ajax({
			url: destinazione,
			type: "POST",
			data: form.serialize(),
			beforeSend: function(xhr, settings) {
				xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
			}
		}).done(function(){
			done(form)
		}).fail(function(){
			fail()
		});
	};

	$(".elimina").on("click", function(){f($(this), "{% url 'lupus:gm_elimina_voto'%}", doneDel, failDel)});
	$(".modifica").on("click", function(){f($(this), "{% url 'lupus:gm_modifica_voto'%}", doneMod, failMod)});
});
</script>
{%endblock %}
