{% extends layout|default:"lupus/layout.html" %}
{% load static %}

{% block content %}
<div class="lp-panel lp-panel-info">
	<h3>{{ gruppo.name }}</h3>
	<p>{% if villaggio %}{% if sindaco.stato %}
	L'ultimo sindaco era <i>{{ sindaco.nome }}</i>
	{% else %}
	L'attuale sindaco del villaggio &egrave; <a href="{% url 'lupus:villaggio_pastsindaco' %}"><i>{{ sindaco.nome }}</i></a>{% endif %}
	{% endif %}</p>
</div>

{% if gruppo or villaggio %}
<div class="lp-panel lp-panel-default">
	<p>{% if villaggio %}Abitanti del villaggio{% else %}Giocatori del gruppo{% endif %}</p><br>
{% for u in utenti %}
<a href="{% ifequal u.user_id profile.user_id %}{% url 'lupus:profile' %}{% else %}{% url 'lupus:profile_other' u.id %}{% endifequal %}" style="color:#{% if u.stato == 0 %}181{% else %}a11;text-decoration:line-through;text-decoration-color:#000;-moz-text-decoration-color:#000{% endif %};font-weight:600;" class="lp-user" title="Vedi profilo">
	{%if user_access %}<div class="lpg-access" {% if u.id in user_access %}style="background:url('{% static 'lupus-images' %}/active-user.png')"{%endif%}></div>{% endif %}
	<span>{{u.nome}}</span>
</a>
{% endfor %}<div style="clear:both;"></div>
</div>
{% endif %}

<!-- VILLAGGIO -->
{% if is_prima_notte %}
<div class="lp-panel lp-panel-default">
	<!--<h5>Inizio del gioco</h5>-->
	<p style="line-height:3">Il villaggio dorme tranquillo, ignaro del brusco risveglio che l'attende domani</p>
</div>
{% endif %}{% if villaggio and not is_prima_notte %}
<div class="votazione"><!-- VOTAZIONE PER LINCIAGGIO -->
	<div class="lp-panel lp-panel-default">
		<h5>Votazioni per il linciaggio</h5><br>
{% if fatto_linciaggio or profile.stato %}
	{% if profile.stato %}
		<p>Non puoi votare da morto<br></p>
	{% endif %}
		<p>Esiti votazioni per il linciaggio:</p><br>
		<table style="width:100%; text-align:center;">{% for v in esiti_linciaggio %}
		<tr style="font-weight:600;"><td>{{ v.votante.nome }}</td><td style="font-weight:400;"> &raquo;&raquo; </td><td>{{ v.risultato.utente.nome }}</td></tr>
		{% empty %}
		<tr><td>Nessuna voto</td></tr>
		{% endfor %}</table><br>
{% else %}
		<p>Ci sono dei lupi nel villaggio e dobbiamo beccarli.<br>Votiamo chi eliminare oggi.</p><br>
		<p style="text-align:center;"><small>
	
		<!-- NUOVA FORM PER VOTAZIONE LINCIAGGIO -->
		<form method="post" name="voto1_action_form" action="{% url 'lupus:villaggio_postvoto' %}">
			{% csrf_token %}
			<input type="hidden" name="agente" value="" />
			<input type="hidden" name="bersaglio" value="" />
			<input type="hidden" name="flag_id" value="1" />
			<script language="javascript">
document.voto1_action_form.bersaglio.value=0;
function selectform_target1_click(uID) {
	target_btn_id = "#voto1_agent_";
	selectform = document.voto1_action_form;
	selectform_target_click(uID);
}
			</script>
			<p style="text-align:center;"><small>
			{% for user in utenti %}{% if user.stato == 0 %}
				<a onclick="selectform_target1_click({{ user.id }})" class="btn btn-small" id="voto1_agent_{{ user.id }}">{{user.nome}}</a>
			{% endif %}{% endfor %}
			</small></p><br>
			<div style="clear:both; float:right;"><small><input type="submit" value="Conferma" class="btn" /></small></div>
		</form>
		<div style="clear:both;"></div>

		</small></p>
{% endif %}
	{% if last_linciaggio %}
	<br><p>L'ultimo giocatore linciato è stato <b>{{ last_linciaggio.utente.nome }}</b>.</p>
	{% endif %}
	<p><a href="{% url 'lupus:villaggio_past' %}">Vedi qui le votazioni passate.</a></p>
	</div>
	<div style="margin: auto 10px; text-align:center">
		<p style="line-height:24pt;">Risultati</p>
		<div class="piechart" id="chart-voto"></div>
	</div>
</div>
{% if sindaco.stato %}<div class="votazione"><!-- VOTAZIONE PER SINDACO -->
	<div class="lp-panel lp-panel-default">
		<h5>Votazioni per il sindaco</h5><br>
{% if fatto_sindaco or profile.stato %}
	{% if profile.stato %}
		<p>Non puoi votare da morto<br></p>
	{% endif %}
		<p>Esiti votazioni per il sindaco:</p><br>
		<table style="width:100%; text-align:center;">{% for v in esiti_sindaco %}
		<tr style="font-weight:600;"><td>{{ v.votante.nome }}</td><td style="font-weight:400;"> &raquo;&raquo; </td><td>{{ v.risultato.utente.nome }}</td></tr>
		{% empty %}
		<tr><td>Nessuna voto, le votazioni si ripetono domani</td></tr>
		{% endfor %}</table>
{% else %}
		<p>&Egrave; il tempo di eleggere un nuovo sindaco.<br>Vota il giocatore che preferisci</p><br>
		
		<!-- NUOVA FORM PER VOTAZIONE SINDACO -->
		<form method="post" name="voto2_action_form" action="{% url 'lupus:villaggio_postvoto' %}">

			{% csrf_token %}
			<input type="hidden" name="agente" value="" />
			<input type="hidden" name="bersaglio" value="" />
			<input type="hidden" name="flag_id" value="2" />
			<script language="javascript">
document.voto2_action_form.bersaglio.value=0;
function selectform_target2_click(uID) {
	target_btn_id = "#voto2_agent_";
	selectform = document.voto2_action_form;
	selectform_target_click(uID);
}
			</script>
			<p style="text-align:center;"><small>
			{% for user in utenti %}{% if user.stato == 0 %}
				<a onclick="selectform_target2_click({{ user.id }})" class="btn btn-small" id="voto2_agent_{{ user.id }}">{{user.nome}}</a>
			{% endif %}{% endfor %}
			</small></p><br>
			<div style="clear:both; float:right;"><small><input type="submit" value="Conferma" class="btn" /></small></div>
		</form>
		<div style="clear:both;"></div>
{% endif %}
	<p><a href="{% url 'lupus:villaggio_pastsindaco' %}">Vedi qui le votazioni passate.</a></p>
	</div>
	<div style="margin: auto 10px; text-align:center; overflow:visible;">
		<p style="line-height:24pt;">Risultati</p>
		<div class="piechart" id="chart-sindaco"></div>
	</div>
</div>
{% endif %}
{% endif %}

{% if not villaggio %}
<!-- AZIONE / POTERE DEL RUOLO -->
<div class="lp-panel lp-panel-default">
	<h4>Potere speciale</h4>
	{% if potere_msg %}
	<p style="padding:10px">{{ potere_msg }}<br>
	Altre informazioni nella pagina <a href="{% url 'lupus:profile'%}">profilo</a></p>
	{% else %}
	<form method="post" name="power_action_form" action="{% url 'lupus:gruppo_azione' %}">
		{% csrf_token %}
		<!--<input type="hidden" name="uID" value="{{ user.id }}" />-->

		{% include potere_form_template with bersagli=potere_bersagli data=potere_data utenti=utenti only %}

		<div style="clear:both; float:right;"><small><input type="submit" value="Conferma" class="btn" /></small></div>
	</form>
	<div style="clear:both;"></div>
	{% endif %}
	{% if potere_passate %}
	<h6>Azioni precedenti</h6>
	{% include potere_passate_template with passate=potere_passate only %}
	{% endif %}
</div>
{% endif %}

{% if utenti|length > 1 and not is_prima_notte %}
<!-- CHAT DI GRUPPO -->
<div class="lp-chat lp-panel lp-panel-default">
	<h5>Chat</h5>
	<div class="lpc-messages">
		<div class="lpc-msg"><div><br></div><div class="lpc-msgtxt">Per utilizzare la chat è necessario avere javascript abilitato.</div></div>
	</div>
	{% if chat_allow_send %}
	<textarea class="lpc-newmsg"></textarea>
	<div id="lpc-car" class="lpc-car-counter">Caratteri: <span id="lpc-len">0</span>/190</div>
	<div style="float:right;"><small><button class="btn" id="lpc-send">Send</button></small></div>
	{% endif %}
	<br style="clear:both;">
</div>
{% endif %}
<div style="clear:both;"></div>
{% endblock %}

{% block style %}
{% if villaggio %}
.tip {
	color: #111;
	width: 140px;
	background-color: white;
	border:1px solid #555;
	box-shadow: rgba(20,20,20,0.5) 2px 2px 4px;
	opacity:0.8;
	font-size:10px;
	font-family: sans;
	padding:7px;
	text-shadow:none;
}
{%endif%}

.lpc-car-counter {
	float:left;
	padding-top: 0.5%;
	padding-left: 1.5%;
}
{% endblock %}

{% block scriptfoot %}
<script language="javascript" src="{% static 'lupus/jit-yc.js' %}"></script>
<script language="javascript">
{% if utenti|length > 1 or villaggio %}
var first_id=0;
var last_id=0;
var first_date;
var last_date;
var MESI = ["Gennaio", "Febbraio", "Marzo", "Aprile", "Maggio", "Giugno", "Luglio", "Agosto", "Settembre", "Ottobre", "Novembre", "Dicembre"];
var timer;

{% endif %}
$(document).ready(function(){
	{% if villaggio %}init();{% endif %}
	{% if utenti|length > 1 or villaggio %}
	//CHAT
	$("#lpc-send").click(function(){
		lpc_send_msg();
	});
	$("#lpc-load").on("click", function(){
		lpc_get_msg(0, last_id);
	});
	$(".lpc-newmsg").on("keyup", lpc_characters_count)
	{% endif %}
});

{% if utenti|length > 1 %}
var url_getmsg_standard = "{% url 'lupus:gruppo_getmsg' villaggio|default:0 0 0 %}";
var url_postmsg = "{% url 'lupus:gruppo_postmsg' %}";
var msg_per_req_context = {{ msg_per_req }};
var req_interval_context = {{ req_intervall }};
var gruppo_id_context = {{ gruppo.id }};
var csrf_token_context = "{{ csrf_token }}";

{% if not is_prima_notte %}
lpc_get_msg(0, 0);
{% endif %}{% if chat_allow_send %}
timer = startTimer();
{% endif %}
$(".lpc-messages").html('<small><input type="button" id="lpc-load" value="Carica altri" class="btn" style="float:right; max-height:20px; padding-top:0;"/></small>');
{% endif %}

//VOTAZIONI
{% if villaggio %}
function init(){
	var json_voto = {'values':[{% for v in voto_linciaggio %}
			{'label': '{{ v.utente.nome }}','values': {{ v.count }} },
	{% endfor %}]};
	var torta_voto = new $jit.PieChart({
		injectInto:'chart-voto', labelOffset:4, sliceOffset:1, type:'stacked:gradient',
		showLabels:true, animate:false, Label:{color:'#fff'},
		Tips: {enable: true, onShow: function(tip, elem) {
			tip.innerHTML = elem.label+":<br><b>" + elem.value + "</b> vot"+((elem.value==1)?"o":"i");
		}}
	});
	torta_voto.loadJSON(json_voto);
	{% if sindaco.stato %}
	var json_sindaco = {'values':[{% for v in voto_sindaco %}
			{'label':'{{ v.utente.nome }}', 'values':{{ v.count }} },
	{% endfor %}]};
	var torta_sindaco = new $jit.PieChart({
		injectInto:'chart-sindaco', labelOffset:4, sliceOffset:1, type:'stacked:gradient',
		showLabels:true, animate:false, Label:{color:'#fff'},
		Tips: {enable: true, onShow: function(tip, elem) {
			tip.innerHTML = elem.label+":<br><b>" + elem.value + "</b> vot"+((elem.value==1)?"o":"i");
		}}
	});
	torta_sindaco.loadJSON(json_sindaco);
	{% endif %}
}
{% endif %}

</script>
{% endblock %}

{% block body_attr %}{% endblock %}
