{% extends layout|default:"lupus/layout.html" %}
{% block content %}

<div class="lp-panel lp-panel-success">
    <h3>Lupus Real Time</h3>
    <p>Questo sito è un'applicazione web finalizzata al gioco di Lupus Real Time, un RPG ispirato a giochi come Lupus e Mafia.</p>
    Puoi leggere e/o scaricare <a href="{% url 'lupus:regolamento' %}">il regolamento nella pagina dedicata</a></p>
    <p>Il gioco è diventente e ci si prende in fretta la mano, sebbene inizialmente possa essere un poco complicato.
    Per i sani di mente non richiede molto tempo.</p>
</div>
<div class="lp-panel lp-panel-info">
    <h4>Per giocare</h4>
    <p>Se vuoi giocare devi iscriverti ad un match ed aspettare l'inizio</p>
    {% if nuovi %}
    <p>Ci sono {{ nuovi }} match con le iscrizioni aperte.
    Per iscriverti devi <a href="{% url 'login:login' %}?next={% url 'lupus:gioco' %}">accedere o registrare un account</a> ed andare alla sezione "Gioco".</p>
    {% else %}
    <p>Ora non ci sono match con le iscrizioni aperte. Puoi comunque già <a href="{% url 'login:login' %}">registrare un account</a>.</p>
    {% endif %}
</div>
<div class="lp-panel lp-panel-warning">
	<h4>Match in corso e finite da poco</h4>
	<p>Anche senza fare il login puoi vedere le home page delle partite in corso.</p>
	<p>Nella <a href="{% url 'lupus:gioco' %}">sezione "Gioco"</a> puoi vedere un elenco di tutti match.</p>
	{% if recenti %}
	<br><p>Gli ultime partite terminate si sono concluse così:<br style="clear:both;"></p>
	<ul style="padding-top:10px;">{% for id,nome,fine in recenti %}
		<li><a href="{% url 'lupus:summary' id %}">Nel match <b>{{nome}}</b> {{fine}}</a></li>
	{% endfor %}</ul>
	{% endif %}
</div>
<div class="lp-panel lp-panel-danger">
	<h4>Collaborazioni, consigli e gamemaster</h4>
	<p>Vuoi proporre un match e conosci già chi può essere il gamemaster? Vuoi darci una mano? Hai consigli od osservazioni ?<br>
	Allora non esitare a <a href="mailto:{{ email }}"><span>contattarci</span></a></p>
</div>
{% endblock %}
