{% extends layout|default:"lupus/layout.html" %}
{% load staticfiles %}
{% block aftertitle %} - Game Master{% endblock %}
{% block afterbrand %} - Game Master{% endblock %}

{% block scripthead %}
<script type="text/javascript" src="{% static 'modernizr.js' %}" ></script>
<script type="text/javascript" src="{% static 'lupus/loader.js' %}" ></script>
{% endblock %}

{% block scriptfoot %}
<script type="text/javascript">
if (!Modernizr.inputtypes.date) { //Solo se non c'è supporto html5
	if ($("[type='date']")) { //Solo se sono presenti input per date
		loadCSS("{% static 'jquery-ui.min.css' %}");
		loadCSS("{% static 'jquery-ui.structure.min.css' %}");
		loadCSS("{% static 'jquery-ui.theme.min.css' %}");
		loadScript("{% static 'jquery-ui.min.js' %}", function () {
			loadScript("{% static 'datepicker-it.js' %}", function () {
				$("[type='date']").datepicker({
				dateFormat: 'yy-mm-dd',
				});
			});
		});
	}
}
</script>
{% block scriptfootgm %}{% endblock %}
{% endblock %}
