{% extends layout|default:"lupus/layout_gm.html" %}

{% block content %}
<nav class="gm-nav"><ul>
	<li><a href="{% url 'lupus:gm_index' %}">Area GameMaster</a></li>
	<li><span>{% block title_nav %}{% endblock %}</span></li>
</ul><div style="clear:both"></div></nav>

{% block body %}
{% endblock %}

{% endblock %}
