<!DOCTYPE html>
{% load staticfiles %}
<html lang="it">
<head>
	<meta charset="utf-8">
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Lupus Real Time{% block aftertitle %}{% endblock %}</title>
	<link rel="stylesheet" href="{% static 'lupus/fonts.css' %}" type="text/css">
	<link rel="stylesheet" href="{% static 'lupus/style.css' %}" type="text/css">
{% if script %}	<script src="{% static 'jquery-2.1.1.min.js' %}"></script>{% endif %}
{% for css in extra_stylesheet_file %}
	<link rel="stylesheet" href="{% static css %}" type="text/css">{% endfor %}
{% for jss in extra_JSscript_file %}
	<script src="{% static jss %}"></script>{% endfor %}
{% block scripthead %}{% endblock %}{% block otherhead %}{% endblock %}
	<style>{% block style %}{% endblock %}	</style>
</head>
<body>
	<div class="alerts">
{% if script %}		<noscript>
		<div class="alert alert-warning"><div class="alert-txt">
			Questa pagina utilizza javascript.<br>
			Attiva gli script per poter usufruire di ogni funzione correttamente
		</div></div>
		</noscript>{% endif %}
{% autoescape off %}{% for msg in messages %}
		<div class="alert alert-{{ msg.tags }}"><div class="alert-txt">{{ msg }}</div></div>
{% endfor %}{% endautoescape %}
	</div>
<div class="wrapper">
	<div class="wrapper-inner">
		<div class="big-container">
			<div class="head">
				<h3 class="brand">Lupus Real Time{% block afterbrand %}{% endblock %}</h3>
				<ul class="nav">
					{% url 'lupus:index' as the_url %}<li class="home {% if page == the_url %}active{% endif %}"><a href="{% url 'lupus:index' %}">Home</a></li>
{% if livello == "gioco" %}
					{% url 'lupus:villaggio' as the_url %}<li {% if the_url in page %}class="active"{% endif %}><a href="{{ the_url }}">Villaggio</a></li>
					{% url 'lupus:gruppo' as the_url %}<li {% if the_url in page %}class="active"{% endif %}><a href="{{ the_url }}">Potere<!-- {{ nomegruppo }} --></a></li>
	{% if status_count %}
					{% url 'lupus:status' as the_url %}<li {% if the_url in page %}class="active"{% endif %}><a href="{{ the_url }}">Status{%if status_count > 1 %}<small>({{status_count}})</small>{%endif%}</a></li>
	{% endif %}
{% else %}
	{% if livello == "finito" %}
					{% url 'lupus:summary_current' as the_url %}<li {% if the_url in page %}class="active"{% endif %}><a href="{{ the_url }}">Riassunto</a></li>
	{% endif %}
					{% url 'lupus:gioco' as the_url %}<li {% if page == the_url %}class="active"{% endif %}><a href="{{ the_url }}">Gioco</a></li>
{% endif %}
					{% url 'lupus:regolamento' as the_url %}<li {% if the_url in page %}class="active"{% endif %}><a href="{{ the_url }}">Regolamento</a></li>
{% if livello != "pubblico" %}
					{% url 'lupus:profile' as the_url %}<li {% if the_url in page %}class="active"{% endif %}><a href="{% if livello == 'loggato' %}{% url 'lupus:profile_make' %}{% else %}{{ the_url }}{% endif %}">Profilo</a></li>
{% else %}
					<li><a href="{% url 'login:login' %}?next={{ request.get_full_path|urlencode }}">Accedi</a></li>
{% endif %}
				</ul>
			</div>
		<div class="content">
{% block content %}
<!-- CONTENUTO -->
{% endblock %}
			</div>
			<div class="foot">
				{% if livello == "gioco" %}<span style="float:left; text-align:left; line-height:1; height:16px; margin:0; padding:0 0 0 10px;">
					<img src="{% if isnownight or isnowday %}{% if isnownight %}{% static 'lupus-images/time1.png'%}{%else%}{% static 'lupus-images/time2.png'%}{%endif%}{%else%}{% static 'lupus-images/time0.png'%}{%endif%}">
				</span>{%endif%}
				{% if gm_perms %}<span class="left">
					<a href="{% url 'lupus:gm_index'%}">Pagine GameMaster</a>{% if gm_perms == 'superuser' %} |
					<a href="{% url 'lupus:gm_setprofile'%}">Fingiti utente</a>{% endif %}
				</span>{% endif %}
				<span class="right">
					<a href="{% url 'login:index' %}">{% if user.is_active %}{{ user.get_full_name }}{% else %}Anonimo{% endif %}</a>|
					<a href={% if user.is_active %}"{% url 'login:logout' %}"> Logout{% else %}"{% url 'login:login' %}?next={{ request.get_full_path|urlencode }}"> Accedi{% endif %}</a>
				</span>
			</div>
		</div>
	</div>
</div>
</body>
{% block scriptfoot %}{% endblock %}</html>

<!--{% autoescape off %}
{% for q in sql_queries %}{{ q.sql }} | {{ q.time }}
{% endfor %}{% endautoescape %}--> 

<!--Night:{{isnownight}} Day:{{isnowday}} Now:{{now}} Time:{{time}} Today:{{today}}-->
