{% extends layout|default:"lupus/layout_gm.html" %}


{% block content %}
<nav class="gm-nav"><ul>
	<li><a href="{% url 'lupus:gm_index' %}">Area GameMaster</a></li>
	{% if match %}<li><a href="{% url 'lupus:gm_index_single' match.id%}">Gestione Match</a></li>{% endif %}
	<li><span>{% block title_nav %}{% endblock %}</span></li>
</ul><div style="clear:both"></div></nav>

<div class="lp-panel lp-panel-info">
	<h3>{% block title %}{% endblock %}</h3>
</div>

{% block body %} {% endblock %}

{% endblock content%}