{% extends layout|default:"lupus/layout.html" %}
{% block content %}
<br>
<div class="lp-panel lp-panel-danger">
    <h4>Not Implemented</h4>
    <p>Hai richiesto la pagina <code>{{ request.path }}</code>.</p>
    <p>La pagina richiesta deve essere ancora implementata</p>
</div>
{% endblock %}
