{% load staticfiles %}
<!DOCTYPE html>
<html lang="it">
<head>
	<meta charset="utf-8">
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<link rel="stylesheet" href="{% static 'lupus/fonts.css' %}" type="text/css">
	<link rel="stylesheet" href="{% static 'lupus/print_style.css' %}" type="text/css">
	<title>Lupus Real Time</title>
</head>
<body>
	Stampa
<div class="wrapper">
	<header>
		<h3 class="brand">Lupus Real Time</h3>
	</header>
	<div class="content">
{% block content %}
{% endblock %}
	</div>
</div>
</body>
</html>
