{% extends layout|default:"lupus/layout.html" %}

{% block content %}
<br>
<div class="lp-panel lp-panel-info">{% if form.instance %}
    <h4>Modifica profilo</h4>
    <p>Puoi modificare il nome visualizzato</p>
{% else %}
    <h4>Creazione profilo</h4>
    <p>Completa con i dati mancanti</p>
{% endif %}</div>
<form style="padding:0 10px;" name="profileform" method="post" action="{% url 'lupus:profile_make' %}">
	{% csrf_token %}
	<div class="lp-field"><div class="lp-entry">Username</div><div class="  lp-entry-text">{{ request.user.username }}</div><br style="clear:both"></div>
	<div class="lp-field"><div class="lp-entry">Nome | Cognome</div>
		<div class="lp-entry-text">{{ request.user.first_name }} | {{ request.user.last_name }}</div><br style="clear:both"></div>
	<var class="errorspan" style="display:none" name="alert">Non hai inserito tutti i dati necessati<br></var>
	<span class="errorlist-nonfield">{{form.non_field_errors}}</span>
	<div class="lp-field"><label class="lp-entry" for="{{form.match.id }}">{{ form.match.label }}</label>{{ form.match }}<br style="clear:both"></div>
	{{form.match.errors}}
	<div class="lp-field"><label class="lp-entry" for="{{form.genere.id }}">{{ form.genere.label }}</label>{% for radio in form.genere %}
		<input type="radio" required id="genere_id{{radio.index}}" name="genere" value="{{radio.choice_value}}" {%if radio.is_checked %}checked{%endif%}><label for="genere_id{{ radio.index }}" class="lpradio">{{ radio.choice_label }}</label>
	{% endfor %}<br style="clear:both"></div>
	{{form.genere.errors}}
	<div class="lp-field"><label class="lp-entry" for="{{form.nome.id }}">{{ form.nome.label }}</label>{{ form.nome }}<br style="clear:both"></div>
	{{form.nome.errors}}
	<br>
	<div style="text-align:center; clear:both; float:left;width:100%; margin-top:20px;">
		<input type="button" class="btn" onclick="checkform()" value="Salva" />
	</div>
	<div style="clear:both"></div>
</form>
{% endblock %}

{% block scriptfoot %}
<script language="javascript">
function checkform() {
	g = document.profileform.genere;
	sn = document.profileform.nome;
	if (((g.value == "1") || (g.value == "2")) && (sn.value != "") && (sn.value != "undefined")) {
		document.profileform.submit();
	} else {
		document.profileform.getElementsByTagName("var")[0].style.display = "block";
		sn.focus();
		return false;
	}
}
</script>
{% endblock %}

{% block style %}
.lp-field input[type='radio'] {
	display: none;
}
.lp-field label.lpradio {
	clear: none;
	padding: 16px 20px;
	cursor: pointer;
	border-radius: 0px;
	border-left:0;
	width:35%;
	float:left;
	background-color: rgba(0,0,10,.1);
	box-shadow: 1px 0 3px 0 rgba(0,0,0,.1);
}
.lp-field input[type='radio']:checked + label {
	background-color: rgba(0, 0, 20, 0.3);
	box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.25), 1px 1px 20px 3px rgba(0, 0, 0, 0.1) inset;
}
.lp-field label.lpradio:last-child {
	border-radius:0px 4px 4px 0px;
}

.errorspan, .errorlist {
	color: rgb(255, 20, 0);
	text-align: center;
	font-weight:600;
}
ul.errorlist {
	list-style-type:none;
	padding: 0;
	margin:-5px 0 2px;
}
.errorlist-nonfield ul {
	margin: 2px 0 2px;
}	
{% endblock %}

{% block old %}
	<div class="lp-radio-group">
	<div class="lp-entry">Sesso:</div>
		<input type="radio" id="s1" name="gender" value="male" {% if genere == 1 %}checked{% endif %}><label for="s1" class=" lp-fromx2" style="width: 35%;">Male</label>
		<input type="radio" id="s2" name="gender" value="female" {% if genere == 2 %}checked{% endif %}><label for="s2" class=" lp-fromx2" style="width: 35%;">Female</label>
	</div><br style="clear:both;">
	<label class=" lp-entry" for="sname">Nome visualizzato</label><input type="text" size=30 class="lp-entry-text" name="s_name" id="sname" value="{% if nome %}{{ nome }}{% else %}{{ request.user.get_full_name }}{% endif %}">
{% endblock %}
