{% extends layout|default:"lupus/layout.html" %}
{% load filter %}
{% load static %}

{% block style %}
/* Spostato in game-style.css */
{% endblock %}

{% block content %}
<br>
<div class="lp-panel lp-panel-success">
	<h4>Profilo: {{ profile.nome }}</h4>
</div>
<div id="profilecontainer_other" style="width:100%">
	<div class="lp-panel" id="profiledata_other">
		<div style="margin: 10px 20px;"><h5>Informazioni</h5></div>
		<table><tbody>
			<tr><td>Nome</td><td>{{ profile.user.first_name }}</td></tr>
			<tr><td>Cognome</td><td>{{ profile.user.last_name }}</td></tr>
			<tr><td>Email</td><td><a href="mailto:{{ profile.user.email }}">{{ profile.user.email }}</a></td></tr>
			<tr><td>Sesso</td><td><img src="{% get_static_prefix %}lupus-images/logo_gender_20_{{ profile.genere }}.png" style="display:block; padding: 0 3px;"></td></tr>
			{% if profile.ruolo %}
			<tr><td>Stato</td><td style="font-weight:600;">{% if profile.stato == 0 %}<span style="color:#181">Vivo</span>{% else %}<span {% if profile.stato == 1 %}style="color:#a11"{% else %}style="color:#cb1"{% endif %}>Morto</span>{% endif %}</td></tr>
			{% endif %}
		</tbody></table>
	</div>
</div>
{% endblock %}
