{% extends layout|default:"lupus/layout.html" %}
{% load filter %}
{% load static %}

{% block style %}
/* Spostato in game-style.css */
{% endblock %}

{% block content %}
<br>
<div class="lp-panel lp-panel-success">
	<h4 style="float:left;">Profilo : {{ profile.nome }}</h4>
<!--    {% if profile.ruolo %}<p style="float:right"><img src="{% static "lupus-images/role-images/" %}{{profile_ruolo.id}}32.png" /></p>{% endif %}-->
	{% if profile.ruolo %}<p style="float:right"><img src="{% static profile_ruolo_IMG %}" /></p>{% endif %}
	<div style="clear:both;"></div>
</div>
<div id="profilecontainer" style="width:100%">
	<div class="lp-panel lp-panel-default" id="profiletext">
{% if profile.match %}
{% if profile.ruolo %}
	<h5>{{ profile_ruolo.nome }}</h5>
	{% if profile_ruolo.fazione_human %}<p>La tua fazione sono i {{ profile_ruolo.fazione_human }}.</p>{% endif %}
	<p>{{ profile_ruolo.doc|safe }}</p>
	<p>	
		{% if profile.get_ruolo.aura == 0 %}<span style="color:#a22;font-weight:700;">Morirai</span> se il veggente userà il suo potere su di te{% endif %}
		{% if profile.get_ruolo.aura == 1 %}La tua aura appare <span style="color:#fff;font-weight:700;">Bianca</span> al veggente{% endif %}
		{% if profile.get_ruolo.aura == 2 %}La tua aura appare <span style="color:#000;font-weight:700;text-shadow:1px 1px 4px rgba(250,250,250,.45);">Nera</span> al veggente{% endif %}
		{% if profile.get_ruolo.aura == 10 %}La tua aura appare <span style="font-weight:700;text-shadow:1px 1px 4px rgba(250,250,250,.45);"><span style="color:#d20;">Ar</span><span style="color:#cb2">co</span><span style="color:#20d;">bal</span><span style="color:#0d2;">eno</span></span> al veggente{% endif %}
	</p>
{% else %}
	<p>Ti sei iscritto al seguente match : <b>{{ profile.match.nome }}</b>.</p>
	<p>Per giocare aspetta l'inizio del match.</p><br>
	<p><small><a class="btn" href="{% url 'lupus:gioco' %}">Match disponibili</a>
	<a class="btn" href="{% url 'lupus:profile_make' %}">Modifica profilo</a></small></p>
{% endif %}{% else %}
	<p>Non sei iscritto a nessun match.</p>
	<p>Per giocare devi iscriverti ad un match ed aspettare il suo inizio.</p><br>
	<p><small><a class="btn" href="{% url 'lupus:gioco' %}">Match disponibili</a>
	<a class="btn" href="{% url 'lupus:profile_make' %}">Modifica profilo</a></small></p>
{% endif %}
	</div>
	<div class="lp-panel" id="profiledata">
		<div style="margin: 10px 20px;"><h5>Informazioni</h5></div>
		<table><tbody>
			<tr data-dp><td>Username</td><td>{{ request.user.username }}</td></tr>
			<tr data-pa><td>Nome</td><td>{{ request.user.first_name }}</td></tr>
			<tr data-dp><td>Cognome</td><td>{{ request.user.last_name }}</td></tr>
			<tr data-pa><td>Sesso</td><td><img src="{% get_static_prefix %}lupus-images/logo_gender_20_{{ profile.genere }}.png" style="display:block; padding: 0 3px;"></td></tr>
			{% if profile.ruolo %}
			<tr data-dp><td>Ruolo</td><td>{{ profile_ruolo.nome}}</td></tr>
			<tr data-pa><td>Stato</td><td style="font-weight:600;">{% if profile.stato == 0 %}<span style="color:#181">Vivo</span>{% else %}<span {% if profile.stato == 1 %}style="color:#a11"{% else %}style="color:#cb1"{% endif %}>Morto</span>{% endif %}</td></tr>
			{% endif %}
			<tr data-dp><td>Inizio match:</td><td>{{ profile.match.startdate }} - {{ starttime }}{% if livello == "gioco" %}<br><small><a href="{% url 'lupus:gioco'%}">Elenco match ed abbandono</a></small>{% endif %}</td></tr>
		</tbody></table>
	</div>
</div>
{% if not profile.stato and livello != "iscritto" %}
<div class="lp-panel lp-panel-default">
	<h5>Status</h5>
	<a href="{% url 'lupus:status' %}">
	<div id="statusdiv"><div></div>
		{% for s in status %}
			<div><img src="{% static s.img %}" {% if not s.has %}class="gray"{% endif %} alt="{{s.desc}}" title="{{s.desc}}"/></div>
		{% endfor %}
	<div></div></div>
	</a>
</div>
{% endif %}
<br>
{% endblock %}
