{% extends layout|default:"lupus/layout.html"  %}
{% load staticfiles %}
{% block content %}

<div class="lp-panel lp-panel-warning">
	<h2>Regolamento di Lupus Real Time - Versione ridotta</h2>
	<p style="text-align:center"><small><a href="{% static 'lupus/regolamento.pdf' %}">Scarica il pdf completo</a></small></p>
</div>
<div class="lp-panel lp-panel-default">
	<h4>Introduzione</h4>
	<h5>Prerequisiti</h5>
	<p>Possono giocare tutti gli studenti della Scuola Galileiana e i relativi amici solo su invito.</p>
	<p>E' nececcario avere accesso ad una connessione internet per visualizzare al server di gioco, un browser recente (ogni versione di Internet Explorer è considerato reperto archeologico) e pochi minuti al giorno.</p>
	<h5>Ambientazione</h5>
	<p>L'intera storia è ambientata all'interno del celeberrimo <i>Villaggio</i> Morgagni, attuale sede amministrativa ed abitativa della Scuola Galileiana.</p>
	<p>Ogni cittadino risiede in una misera e polverosa catapecchia, nella quale trovano conforto le proprie umili ossa logorate dallo studio quotidiano.
	Periodicamente accade che qualche esile ed innocente alunno della Scuola si trovi ad affrontare la sessione d'esame, e con essa l'irrefrenabile istinto omicida che li spinge a trasformare il proprio io in un indomabile licantropo.</p>
	<h5>Fazioni, ruoli e status</h5>
	<p>I giocatori sono divisi in fazioni ed ognuno appartiene ad una fazione in base al ruolo che gli viene assegnato.
	Ogni ruolo ha delle particolarita che possono essere usate per aiutare la propria fazione. Oltre ai ruoli ogni giocatore può avere uno o più status.
	Uno status è una condizione particolare in cui un giocatore si trova e può essere sia innato, cioè assegnato all'inizio della partita (ad esempio cupido e rocco), sia acquisito, cioè causato da altri eventi durante il gioco (sindaco, innamorato). </p>
	<p>Ogni giocatore potrà vedere la descrizione del proprio status e del proprio ruolo nella apposite pagine di questo sito.</p>
	<p>Elenco e descrizioni di ruoli e status nel regolamento completo.</p>
	<h5>Raccomandazioni sul sito</h5>
	<p>Per giocare è necessario creare un account fornendo una propria email, sarà poi possibile iscriversi ad una delle partite attive <a href="{% url 'lupus:gioco' %}">a questa pagina</a>.
	Una volta iscritti bisogna aspettare l'inizio del gioco che avverrà la sera della data indicata nel sito.</p>
	<h4>Svuolgimento del gioco</h4>
	<h5>Gioco e notte</h5>
	<p>Il tempo del gioco di divide in giorno e notte. Gli orari saranno indicati sul sito all'accorenza.</p>
	<h5>Votazioni giornaliere</h5>
	<p><b>Durante il giorno</b> ogni cittadino del Villaggio ha il diritto di esprimere la sua volontà con lo strumento principe di una democrazia come si deve: <b>il voto.</b><br>
	Non solo si avrà la possibilità di votare a favore della morte di un infingardo sospettato, ma anche sostenere la salita al potere del più abile e diplomatico tra i compagni, esercitando il proprio potere decisionale alle elezioni del sindaco.
	Sarà possibile verificare i risultati delle passate elezioni nella schermata di voto al di sotto della scheda elettorale.
	Si raccomandano i gentili utenti di segnalare al Sindaco in carica eventuali tracce di sangue individuate all'interno del seggio, al fine di garantire una pacifica convivenza ed aiutare le forze dell'Ordine del Rogo a liberare il nostro borgo dall'attuale piaga.
	Votare è un diritto, fate uccidere a chi di dovere (avete ben capito cari lupetti).</p>
	<p><b>Il personaggio che ha ricevuto più voti di tutti muore.</b> In caso di parità tra due o più personaggi, fra questi viene condannato quello eventualmente votato dal Sindaco; se nessuno di questi è stato votato dal Sindaco, ne muore uno a caso.</p>
	<h5>Azioni notturne, case e movimenti</h5>
	<p>Durante la notte i personaggi con poteri speciali possono agire scegliendo il target che intendono colpire.
	Ogni cittadino risiede in una "casa virtuale", e certi poteri necessitano di uno spostamento del personaggio. 
	Un personaggio può uscire dalla propria casa o entrare in una casa altrui. I movimenti sono specificati nella scheda personaggio sotto la voce "Movimenti".</p>
	<p>Le ripercussioni del movimento sulla dinamica di gioco sono principalmente legate alla presenza di alcuni ruoli i cui poteri cambiano di efficacia in base ai movimenti (ad esempio Paparazzi e Bombarolo)</p>
	<h5>Vivi, morti, resurrezione</h5>
	<p>All'inizio della partita tutti i giocatori sono vivi. La prima notte di gioco i <i>Lupi</i> devono obbligatoriamente uccidere il <i>GameMaster</i>.
	Un giocatore muore quando è il più votato al linciaggio del giorno oppure se viene colto nel sonno dal fatale morso di un lupo.
	Inoltre è possibile morire a causa del potere di altri personaggi oppure essere addirittura salvati dalla morte dall'effetto protettivo di un compagno previdente.</p>
	<p>La resurrezione consiste nel rientro in gioco del giocatore con lo stesso ruolo assegnato prima della morte. Può avvenire in seguito agli effetti di alcuni poteri speciali.</p>
	<br>
	<p>Ulteriori informazione <a href="{% static 'lupus/regolamento.pdf' %}">nel regolamento completo</a></p>
</div>
{% endblock %}
