{% extends layout|default:"lupus/layout.html" %}
{% load staticfiles %}
{% block content %}

<div class="lp-panel lp-panel-default">
    <h4>Abstract</h4>
    <p>Lupus Real Time è un gioco di ruolo ispirato ai classici <i>Lupus in Tabula</i> e <i>Mafia</i>.<br>
    La peculiarità del gioco sta nel fatto che lo scorrere del tempo nel gioco e nella vita reale coincidono <small>(<i>real time</i> appunto)</small>.</p>
    <p>
    Il gioco è già da tempo giocato regolarmente alla Normale di Pisa, ed al loro regolamento ci siamo parzialmente ispirati .
    Tuttavia, considerando detto regolamento eccessivamento elaborato,
    abbiamo creato un regolamento personalizzato per la Scuola Galileiana e per tutti coloro che desiderino divertisi.
    </p>
    <p>L'ambientazione del gioco di ruolo consiste in un villaggio <small>(oppure un collegio)</small> nel quale alcuni abitanti si rivaleno essere lupi mannari.
    Tutti dovranno collaborare e decidere chi condannare a morte nel tentativo di estirpare la piaga.
    Riusciranno i prodi popolani a stanare i lupi che si nascono tra loro ? Oppure saranno i lupi a riempirsi la pancia ?</p>
    <p>Il gioco non dovrebbe richiedere molto tempo, ma assicura un gran divertimento</p>
</div>
<div class="lp-panel lp-panel-default">
    <h4>Regolamento</h4>
    <p>Puoi scaricare il regolamento intero in formato pdf o leggere online una versione ridotta.</p>
    <!--<p><ul style="padding: 10px 30px;"><li><a href="{% static 'lupus/regolamento.pdf' %}">Scarica regolamento</li><li><a href="{% url 'lupus:regolamento_online' %}">Versione online</a></li></ul></p>-->
    <div class="btn-group"><a href="{% static 'lupus/regolamento.pdf' %}" class="btn">Scarica regolamento</a><a href="{% url 'lupus:regolamento_online' %}" class="btn">Versione online</a><br clear=both></div>
</div>
{% endblock %}
