{% extends layout|default:"lupus/layout.html" %}
{% load static %}

{% block style %}
{% endblock %}

{% block content %}
<br>
<div class="lp-panel lp-panel-success">
	<h4>Riassunto Status</h4>
	<div style="clear:both;"></div>
</div>
{% if profile.stato %}
<div class="lp-panel lp-panel-default">
	Non sei in vita. Non hai Status
</div>
{% else %}{% for ID, nome, flags, context_data, template, active_power_form in status_list %}
<div class="lp-panel lp-panel-warning">
	<h5>{{ nome }}</h5>

	{% include template with data=context_data only %}
	
    <br>
	{% if active_power_form %}
	<form method="post" name="status_action_form_{{ ID }}" action="{% url 'lupus:status_action' %}">
		{% csrf_token %}
		<input type="hidden" name="sID" value="{{ ID }}" />
		<input type="hidden" name="flags" value="{{ flags }}" />
		{% include active_power_form %}
		
		<div style="clear:both; float:right;"><small><input type="submit" value="Conferma" class="btn" /></small></div>
	</form><br>
	{% endif %}
	<div style="clear:both;"></div>
</div>
{% empty %}
<div class="lp-panel lp-panel-default">
	Non sei affetto da nessuno Status
</div>
{% endfor %}{% endif %}
<br>
{% endblock %}
