{% extends layout|default:"lupus/layout.html" %}
{% load static %}
{% load filter %}
{% block content %}
<br>
<div class="lp-panel lp-panel-info">
	<h3>{{ winner.msg|capfirst }} il match {{ match.nome }}</h3>
	<p>Il gioco era iniziato con {{ totale }} giocatori, alla fine i vivi erano {{ vivi }}</p>
	<div style="clear:both;"></div>
</div>

{% if vincitori|length %}<div class="lp-panel lp-panel-success"> <!-- VINCITORI -->
	<h4>Vincitori : {{ winner.nome }}</h4>
	{% if vincitori|length > 1 %}
		{% for ruolo in vincitori %}
		<h5>{{ RUOLO_NOME|dictget:ruolo }}</h5>
		<div class="pl-group">{% for g in vincitori|dictget:ruolo %}
			<div class="pl-{% if g.stato == 0 %}verde{% endif %}{% if g.stato == 1 %}rosso{% endif %}{% if g.stato > 1 %}giallo{% endif %}">{{g.nome}}</div>
		{% endfor %}<div style="clear:both"></div></div>
		{% endfor %}
	{% else %}
		<div class="pl-group">{% for g in vincitori.values|first %}
			<div class="pl-{% if g.stato == 0 %}verde{% endif %}{% if g.stato == 1 %}rosso{% endif %}{% if g.stato > 1 %}giallo{% endif %}">{{ g.nome }}</div>
		{% endfor %}<div style="clear:both"></div></div>
	{% endif %}
</div>{% endif %}

<div class="lp-panel lp-panel-danger"> <!-- ALTRI -->
	<h4>Ruoli altri giocatori</h4>
	{% for ruolo in altri %}
	<h5>{{ RUOLO_NOME|dictget:ruolo }}</h5>
	<div class="pl-group">{% for g in altri|dictget:ruolo %}
			<span class="pl-{% if g.stato == 0 %}verde{% endif %}{% if g.stato == 1 %}rosso{% endif %}{% if g.stato > 1 %}giallo{% endif %}">{{g.nome}}</span>
	{% endfor %}<div style="clear:both"></div></div>
	{% endfor %}
</div>

{% if status %}<div class="lp-panel lp-panel-warning"> <!-- STATUS -->
	<h4>Status</h4>
	{% for s in status.values %}
		<h5>{{ s.grouper }}</h5>
		{% include s.template with list=s.list only %}

	{% endfor %}
</div>{% endif %}

<div class="lp-panel lp-panel-info"> <!-- STORIA COMPLETA -->
	<h4>Riepigolo completo</h4>
	<p>Per i curiosi che vogliono sapere cosa è successo notte per notte è disponibile la storia completa del match: azioni notturne, eventi, risultati, ecc...<br>
	Clicca i link qui sotto.</p>
    <div class="btn-group"><a href="{% url 'lupus:summary_full' match.id %}" class="btn">Cronistoria versione online</a><a href="{% url 'lupus:summary_pdf' match.id %}" class="btn">Cronistoria PDF</a><br clear=both></div>
</div>

<div style="clear:both"></div>

{% endblock %}

{% block style %}
.pl-group{
	padding: 0 20px 5px;
}
.pl-group .pl-rosso, .pl-group .pl-verde, .pl-group .pl-giallo {
	width: 33%;
	font-weight: 600;
	float:left;
}
.pl-group .pl-rosso  { color: #faa; }
.pl-group .pl-verde  { color: #afa; }
.pl-group .pl-giallo { color: #ff8; }

@media (max-width:600px) {
	.pl-group .pl-rosso, .pl-group .pl-verde, .pl-group .pl-giallo { width:50%; }
}


{% endblock %}
