{% extends layout|default:"lupus/layout.html" %}
{% load static %}
{% load filter %}
{% block content %}

{% regroup azioni|dictsort:'time' by time as azioni_list %}
{% regroup eventi|dictsort:'nice'|dictsort:'date' by date as eventi_list %}
{% regroup voti_linciaggio|dictsort:'date' by date as voti_liciaggio_list %}
{% regroup voti_sindaco|dictsort:'date' by date as voti_sindaco_list %}

<div class="lp-panel lp-panel-info">
	<h3>{{ match.nome }}</h3>
	<p>Data inizio: {{start_date|date:'d/m/Y'}}</p>
	<p>Data fine: {{end_date|date:'d/m/Y'}}</p>
	<br />
	<p>Il gioco era iniziato con {{ totale }} giocatori, alla fine i vivi erano {{ vivi }}.</p>
	<div style="clear:both;"></div>
</div>
<div class="lp-panel lp-panel-success"> <!-- RUOLI -->
	<h4>Vincitori : {{ winner.nome }}</h4>
	<table class="nicehover">
		<tbody>
			{% for ruolo in vincitori %}
			<tr>
				<td class="td-nome">{{ RUOLO_NOME|dictget:ruolo }}</td>
				<td>
					{% for g in vincitori|dictget:ruolo %}
						<span class="pl-{% if g.stato == 0 %}verde{% endif %}{% if g.stato == 1 %}rosso{% endif %}{% if g.stato > 1 %}giallo{% endif %}">{{g.nome}}{% if not forloop.last %},{% endif %}</span>
					{% endfor %}
				</td>
				<td class="image-cell"><img src="/static/lupus-images/role-images/{{ruolo}}32.png"></td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
	<h4>Altri giocatori</h4>
	<table class="nicehover">
		<tbody>
			{% for ruolo in altri %}
			<tr>
				<td class="td-nome">{{ RUOLO_NOME|dictget:ruolo }}</td>
				<td>
					{% for g in altri|dictget:ruolo %}
						<span class="pl-{% if g.stato == 0 %}verde{% endif %}{% if g.stato == 1 %}rosso{% endif %}{% if g.stato > 1 %}giallo{% endif %}">{{g.nome}}{% if not forloop.last %},{% endif %}</span>
					{% endfor %}
				</td>
				<td class="image-cell"><img src="/static/lupus-images/role-images/{{ruolo}}32.png"></td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>

{% if status %}<div class="lp-panel lp-panel-danger"> <!-- STATUS -->
	<h4>Status</h4>
	{% for s in status.values %}
		<h5>{{ s.grouper }}</h5>
		{% include s.template with list=s.list only %}

	{% endfor %}
</div>{% endif %}
{% autoescape off %}
{% for g in giorni %}<!-- GIORNO PER GIORNO -->
	{% with forloop.counter as numero %}{% with note|dictget:g as NoteDelGiorno %}
	{% regroup eventi_list|gruopedget:g by momento as eventi_oggi %}
	<div class="lp-panel lp-panel-info">
		<h4 class="day-title">Notte {{numero}}</h4>
		<h5>Azioni:</h5>
		<ul>
			{% for a in azioni_list|gruopedget:g %}
				<li>{{a.agente.nome}} ({{a.agente.ruolo}}) ha agito su {{a.bersaglio.nome}} ({{a.bersaglio.ruolo}})</li>
			{% empty %}
					<li>Nessuna azione.</li>
			{% endfor %}
		</ul>
		{% with eventi_oggi|gruopedget:'notte' as notte %}
		{% if notte %}
			<h5>Questa notte &egrave; successo che:</h5>
			<ul>
				{% for e in notte %}
					<li>{{e.text}}{% if forloop.last %}.{% else %};{% endif %}</li>
				{% endfor %}
			</ul>
			<h5></h5>
		{% endif %}
		{% endwith %}
		{% if NoteDelGiorno.night %}
			<h5>Altre informazioni:</h5>
			<ul>{% for nota in NoteDelGiorno.night %}
				<li>{{ nota }}</li>
			{% endfor %}</ul>
		{% endif %}
	</div>
	{% with eventi_oggi|gruopedget:'giorno' as giorno %}
	{% with voti_liciaggio_list|gruopedget:g as linciaggio %}
	{% with voti_sindaco_list|gruopedget:g as sindaco %}
	{% if not forloop.last or giorno or linciaggio or sindaco %}{# Se è l'ultimo giorno e il gioco è terminato con la notte non viene visualizzato #}
		<div class="lp-panel lp-panel-warning">
			<h4 class="day-title">Giorno {{numero}}</h4>
			{% if linciaggio %}
				<h5>Voti per il linciaggio:</h5>
				<table class="nicehover">
					<tr>
						<th>Nome</th>
						<th>Voti</th>
						<th>Votanti</th>
					</tr>
					{% for v in linciaggio %}
						<tr>
							<td>{{v.utente.nome}}</td>
							<td>{{v.count}}</td>
							<td>{% for u in v.voto_set.all %}
							{{u.votante.nome}}{% if forloop.last %}{% else %}, {% endif %}
							{% endfor %}</td>
						</tr>
					{% endfor %}
				</table>
			{% endif %}
			{% if sindaco %}
				<h5>Voti per l'elezione di un nuovo sindaco:</h5>
				<table class="nicehover">
					<tr>
						<th>Nome</th>
						<th>Voti</th>
						<th>Votanti</th>
					</tr>
					{% for v in sindaco %}
						<tr>
							<td>{{v.utente.nome}}</td>
							<td>{{v.count}}</td>
							<td>{% for u in v.voto_set.all %}
							{{u.votante.nome}}{% if forloop.last %}{% else %}, {% endif %}
							{% endfor %}</td>
						</tr>
					{% endfor %}
				</table>
			{% endif %}
			{% if giorno %}
				<h5>Durante questo giorno &egrave; successo che:</h5>
				<ul>
					{% for e in giorno %}
						<li>{{e.text}}{% if forloop.last %}.{% else %};{% endif %}</li>
					{% endfor %}
				</ul>
			{% endif %}
			{% if NoteDelGiorno.day %}
				<h5>Altre informazioni:</h5>
				<ul>{% for nota in NoteDelGiorno.day %}
					<li>{{ nota }}</li>
				{% endfor %}</ul>
			{% endif %}
		</div>
	{% endif %}
	{% endwith %}
	{% endwith %}
	{% endwith %}
	{% endwith %}
	{% endwith %}
{% endfor %}
{% endautoescape %}

<div class="lp-panel lp-panel-success">
	<h4>Vittoria!</h4>
	<p>{{ winner.msg|capfirst }}.</p>
</div>

{% endblock %}

{% block style %}
h5 {
	padding-top: 6px;
}

.td-nome {
	width: 20%;
}

td, th {
	padding: 1px;
}

table {
	margin-left: 30px;
}

td {
	min-width: 120px;
}

.image-cell {
	min-width:32px;
	width:50px;
	text-align:center;
}
.image-cell img {margin:0}

.pl-rosso  { color: #faa; }
.pl-verde  { color: #afa; }
.pl-giallo { color: #ff8; }
{% endblock %}
