{% extends layout|default:"lupus/layout.html" %}
{% load static %}

{% block content %}
<div class="lp-panel lp-panel-info">
	<h4>Votazione passate</h4>
	<p>{{sottotitolo}}</p>
</div>
{% if not votazioni %}
<div class="lp-panel lp-panel-info">
	<p>Non ci sono ancora passate votazioni</p>
</div>
{% else %}{% regroup votazioni by time as voto_list %}
{% if voto_list|length == 1 %}
<div class="lp-panel lp-panel-default">
	<h5>{{ voto_list.0.grouper|date:"d M Y" }}</h5>
	<table style="width:100%; text-align:center;">{% for item in votazioni %}
		<tr style="font-weight:600;"><td>{{ item.votante.nome }}</td><td style="font-weight:400;"> &raquo;&raquo; </td><td>{{ item.risultato.utente.nome }}</td></tr>{% endfor %}
	</table><br>
</div><div style="clear:both"></div>
{% else %}
<div class="twocol">
	{% for voto_date in voto_list %}<div class="lp-panel lp-panel-default">
		<h5>{{ voto_date.grouper|date:"d M Y" }}</h5>
		<table style="width:100%; text-align:center;">{% for item in voto_date.list %}
			<tr style="font-weight:600;"><td>{{ item.votante.nome }}</td><td style="font-weight:400;"> &raquo;&raquo; </td><td>{{ item.risultato.utente.nome }}</td></tr>{% endfor %}
		</table><br>
	</div>
	<div style="clear:both"></div>{% endfor %}
</div>
{% endif %}{% endif %}
{% endblock %}

{% block style %}
/*Spostato in game-style.css*/
{% endblock %}

{% block scriptfoot %}{% endblock %}

{% block body_attr %}{% endblock %}



