<input type="hidden" name="agente" value="" />
		<input type="hidden" name="bersaglio" value="" />
		<script language="javascript">
document.power_action_form.agente.value=0;
document.power_action_form.bersaglio.value=0;
var agent_btn_id = "#power_agent_";
var target_btn_id = "#power_target_";
var selectform = document.power_action_form;
		</script>
{% if utenti|length > 1 %}
		<p>Scegli che giocatore agisce : </p><br>
{% for utente in utenti %}{% if not utente.stato %}
		<a onclick="selectform_agent_click({{ utente.id }})" class="btn btn-small" id="power_agent_{{ utente.id }}">{{utente.nome}}</a>
{% endif %}{% endfor %}
		<br style="clear:both;"><br>
{% endif %}
		<p>Scegli su chi agire : </p><br>
{% for utente in bersagli %}
		<a onclick="selectform_target_click({{ utente.id }})" class="btn btn-small" id="power_target_{{ utente.id }}">{{utente.nome}}</a>
{% empty %}
		<p>Nessun giocatore</p>
{% endfor %}
	<br>
