<table class="nicehover">
	<thead>
		<tr><td></td><td>Giocatore</td><td></td><td>Aura percepita</td><td></td></tr>
	</thead>
	<tbody class="font-weight:600;">{% for azione in passate %}
	<tr>
		<td style="text-align:center">&raquo;</td><td>{{ azione.bersaglio__nome }}</td>
		<td style="text-align:center">&raquo;</td><td style="font-weight:700;">
			{% if azione.aura == "?" %}<span style="color:#ccc">??</span>{% endif %}
			{% if azione.aura == 0 %}<span style="color:#888">Nessuna</span>{% endif %}
			{% if azione.aura == 1 %}<span style="color:#fff;">Bianca</span>{% endif %}
			{% if azione.aura == 2 %}<span style="color:#000;text-shadow:1px 1px 5px rgba(250,250,250,.5);">Nera</span>{% endif %}
			{% if azione.aura == 10 %}<span style="color:#bc1">&Egrave; il GM</span>{% endif %}
		</td>
		<td  style="text-align:right; font-weight:300; font-family:sans">{{ azione.time|date:"d/m" }}</td></tr>
{% endfor %}</tbody></table>
