<table class="nicehover"><tbody class="font-weight:600;">{% for azione in passate %}
	<tr>{% if azione.agente__nome %}<td>{{ azione.agente__nome }}</td>{%endif%}<td>&raquo;</td><td>{{ azione.bersaglio__nome }}</td><td  style="text-align:right; font-weight:300; font-family:sans">{{ azione.time|date:"d/m" }}</td></tr>
{% endfor %}</tbody></table>
