{% load staticfiles %}
<!DOCTYPE html>
<html lang="it">
<head>
	<meta charset="utf-8">
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
</head>
<body>
{% block content %}
{% endblock %}
</body>
</html>
