<p>{% autoescape off %}{{ data.doc }}{% endautoescape %}<br></p>
{% load static %}
<p><br />Sei diventato amico di <span style="font-weight: bold;">{{ data.espansivo.nome }}</span> che &egrave; l'espansivo.</p>
