
<input type="hidden" name="user1_ID" value="" />
<input type="hidden" name="user2_ID" value="" />
{% block text %}
<p>Scegli 2 giocatori a cui scoccare le tue freccie : <br></p>
{% endblock %}
<script language="javascript">
document.status_action_form_{{ID}}.user1_ID.value=0;
document.status_action_form_{{ID}}.user2_ID.value=0;
function status{{ID}}_btn_click(uID) {
	form = document.status_action_form_{{ID}};
	u1 = parseInt(form.user1_ID.value);
	u2 = parseInt(form.user2_ID.value);
	if ((u1==uID) || (u2==uID)) {
		if (u1==uID) {form.user1_ID.value=0;}
		else {form.user2_ID.value=0;}
		$("#status{{ID}}_btn_"+uID).toggleClass("btn-chosen");
	} else {
		if (!u1) {
			form.user1_ID.value=uID;
		} else {
			if (u2) {
				$("#status{{ID}}_btn_"+u2).toggleClass("btn-chosen");
			}
			form.user2_ID.value=uID
		}
		$("#status{{ID}}_btn_"+uID).toggleClass("btn-chosen");
	}
}
</script>
<br>
{% for user in giocatori_bersaglio %}
<a onclick="status{{ID}}_btn_click({{user.id}})" class="btn" id="status{{ID}}_btn_{{user.id}}">{{ user.nome }}</a>
{% endfor %}<br>
