<p>{% autoescape off %}{{ data.doc }}{% endautoescape %}<br></p>
{% if data.opt %}<p>Hai già agito scegliendo:<br><ul><br>
{% for u in data.users %}
	<li><b>{{ u.nome }}</b></li>
{% endfor %}
</ul></p>{% endif %}
