<p>{% autoescape off %}{{ data.doc }}{% endautoescape %}<br></p>
{% load static %}
<p>Attualmente siete follemente innamorati :
<table style="width:90%; text-align:center;" class="nicehover">
	<thead><tr><td style="width: 5%; min-width:30px;"></td><td>Nome</td><td>Stato</td></tr></thead>
{% for p in data.innamorati %}
	<tr style="font-weight:600;"><td><img src="{% get_static_prefix %}lupus-images/logo_gender_20_{{ p.genere }}.png" style="display:block; padding: 0 3px;"></td>
	<td>{{ p.nome }}</td>
	<td>{% if p.stato == 0 %}<span style="color:#181">Vivo</span>{% endif %}{% if p.stato = 1 %}<span style="color:#a11">Morto</span>{% endif %}</td></tr>
{% endfor %}
</table>
<br></p>
