{% regroup list by opt as inn_list %}
<table class="nicehover">
{% for inn in inn_list %}
	<tr><td>{% for g in inn.list %}{% if not forloop.first %}<b> &amp; </b>{% endif %}{{ g.utente__nome }}{% endfor %}</td></tr>
{% endfor %}
</table>
