<table class="nicehover">
	<thead><tr><th style="min-width:65%">Nome</th><th>Giorno elezione</th></tr></thead>
{% for sindaci in list|dictsortreversed:"opt" %}
	<tr><td>{{ sindaci.utente__nome }}</td><td>{{ sindaci.opt }}°</td></tr>
{% endfor %}
</table>
