<p>
{% if data.fazione == "" %}
La autorità regionali sono entrate oggi nel villaggio per scoprire che non ci sono sopravissuti.<br>
Il gioco finisce qui, e nessuno vince <br>
{% endif %}
{% if data.fazione == "P" %}
Questa mattina il villaggio si è svegliato felice.<br>
E' evidente che anche l'ultimo lupo è stato ucciso.<br>
I <b>Popolani</b> hanno vinto.
{% endif %}
{% if data.fazione == "L" %}
I Lupi sono diventati la maggioranza, ora possono uscire alla luce del sole e disporre degli altri paesani come meglio credono.<br>
I <b>Lupi</b> hanno vinto.
{% endif %}
{% if data.fazione == "C" %}
&Egrave; riuscito a passare inosservato, ad evitare la magia bianca del veggente e l'ira dell'assemblea.
Ora il <b>Criceto</b> ha vinto.
{% endif %}
</p>

<p style="padding: 10px 0 0; clear:both; width:100%; font-size:90%;">
	Il gioco è finito, ci auguriamo vi siate divertiti.<br>
	Potete dare un'occhiata ad un <a href="{% url 'lupus:summary_current'%}">piccolo riassunto qui.</a>
</p>

