<p>Il nostro inviato speciale ci ha inviato un gossip fresco fresco di questa notte
{% if data.spiato.genere == 1 %}sul caro{%else %}sulla cara{%endif%} <b>{{data.spiato.nome|capfirst}}</b>.<br>
Ecco che cosa è successo :<br></p>
<div style="padding: 5px 0 5px 15px; clear:both; width:100%">
{% if data.uscito %}<p>L'inquilino stanotte &egrave; uscito di casa, chissà per fare cosa</p>
{% else %}<p>{{data.spiato.nome|capfirst}} non è stato visto uscire di casa</p>
{% endif %}
{% if data.entrati %}{% if data.entrati|length_is:"1" %}
<p>Il nostro amico stanotte &egrave; stato visitato da <b>{{data.entrati|first|capfirst}}</b>, che cosa avranno mai fatto assieme ?</p>
{%else%}
<p>Il nostro amico dev'essere famoso. Ha ricevuto diverse visite:<ul>{%for entrato in data.entrati %}
	<li>{{entrato|capfirst}}</li>
{% endfor %}</ul></p>
{%endif%}{% endif %}
{% if data.intorno %}
<p>Inoltre sono state viste diverse persone aggirarsi in modo sospetto intorno all'abitazione :<ul>{% for int in intorno %}
	<li>{{int|capfirst}}</li>
{%endfor%}</ul></p>
{%endif%}
</div>

