<p>Il nostro inviato speciale ci ha inviato un gossip fresco fresco di questa notte
{% if spiato.genere == 1 %}sul caro{%else %}sulla cara{%endif%} <b>{{spiato.nome|capfirst}}</b>.<br>
Ecco cosa &egrave; successo :<br></p>
{% if uscito %}<p>L'inquilino stanotte &egrave; uscito di casa, chissà per care cosa</p>
{% else %}<p>{{spiato.nome|capfirst}} non è stato visto uscire di casa</p>
{% endif %}
{% if entrati %}{% if entranti|length_is:"1" %}
<p>Il nostro amico stanotte &egrave; stato visitato da <b>{{entrati|first|capfirst}}</b>, che cosa avranno mai fatto assieme ?</p>
{%else%}
<p>Il nostro amico dev'essere famoso. Ha ricevuto diverse visite:<ul>{%for entrato in entrati %}
	<li>{{entrato|capfirst}}</li>
{% endfor %}</ul></p>
{%endif%}
{% if intorno %}
<p>Inoltre sono state viste diverse persone aggirarsi in modo sospetto intorno all'abitazione :<ul>{% for int in intorno %}
	<li>{{int|capfirst}}</li>
{%endfor%}</ul></p>
{%endif%}
