@font-face {
  font-family: 'Calligraffitti';
  font-style: normal;
  font-weight: 400;
  src: local('Calligraffitti'), local('Calligraffitti-Regular'), url(Calligraffitti.woff) format('woff');
}

@font-face {
  font-family: 'AsanaMath';
  font-style: normal;
  font-weight: 400;
  src: local('Asana Math Regular'), local('Asana Math'), url(AsanaMath.woff) format('woff');
}

@font-face {
  font-family: 'Alike';
  font-style: normal;
  font-weight: 400;
  src: local('Alike'), local('Alike-Regular'), url(https://fonts.gstatic.com/s/alike/v7/ucX0vp16K9rM-IkH3z-oWA.woff2) format('woff2'), url(https://fonts.gstatic.com/s/alike/v7/0wlTTJEXU4hQ4azwPn6Wjw.woff) format('woff');
}
@font-face {
  font-family: 'Alike Angular';
  font-style: normal;
  font-weight: 400;
  src: local('Alike Angular'), local('AlikeAngular-Regular'), url(https://fonts.gstatic.com/s/alikeangular/v6/OpeCu4xxI3qO1C7CZcJtPXhbSNRWLU9030AtM4Q6g3Y.woff2) format('woff2'), url(https://fonts.gstatic.com/s/alikeangular/v6/OpeCu4xxI3qO1C7CZcJtPb6iX381CwN1C9yEk5y0JLs.woff) format('woff');
}
