/* CHAT E FONT MONOSPACE */

@font-face {
  font-family: 'Oxygen Mono';
  font-style: normal;
  font-weight: 400;
  src: local('Oxygen Mono'), local('OxygenMono-Regular'), url(OxygenMonoFont_Regular.woff) format('woff');
}

.lp-chat {
	padding: 10px 5px 5px 5px;
}
.lpc-messages {
	min-height: 250px;
	max-height: 350px;
	overflow-y: scroll;
	border: 1px #000 solid;
	border-radius: 4px 4px 0 0;
	margin: 5px 0 0 0;
	padding: 1px;
	width:100%;
	font-family: "Oxygen Mono", monospace;
	font-size:8.5pt;
	background: rgba(200,200,200,.06)
}
.lpc-newmsg {
	border: 1px #000 solid;
	border-radius: 0 0 4px 4px;
	margin: 0 0 5px 0;
	padding: 5px;
	width:100%;
	max-width:100%;
	background: #333;
	color: #fff;
	box-shadow: 0 0 10px 2px rgba(0,0,0,.4) inset;
	height: 36pt;
	float:left;
}
.lpc-newmsg:focus {box-shadow: 0 0 10px 2px rgba(0,0,0,.3) inset, 2px 2px 5px 0px rgba(0,0,0,.5);}
.lpc-msg div:first-child {
	word-break: keep-all;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	flex:1;
	text-align: center;
}
.lpc-msg {
	width:100%;
	display:flex;
	padding:2px;
}
.lpc-msgtxt {
	padding-left:6px;
	margin-left:6px;
	border-left: 1px #505050 solid;
	flex:5;
}
@media (max-width:520px) {.lpc-msgtxt {flex:4}}
.lpc-msg:nth-child(even) {
	background: rgba(120,120,120,.1);
}
.lpc-msg:hover {
	background: rgba(120,120,120,.2);
}
.lpc-msgday {
	background: rgba(120,120,160,.2);
	text-align: center;
	line-height: 18pt;
	box-shadow: 0 2px 3px rgba(0,0,0,.2);
}

/* VOTAZIONI E GRAFICI */

.votazione {
	display:flex;
	width:100%;
	padding:10px;
}
.votazione .lp-panel{
	flex:1;
	margin: 0 20px 0 0;
	min-height:240px;
}
@media (max-width:520px) {
	.votazione .lp-panel{ height:360px; overflow-y:scroll; }
}

.piechart {
	margin: 0;
	display: block;
	background: rgba(0,0,0,.2);
	border-radius: 50%;
	overflow: visible;
}
.piechart {width: 200px;height: 200px;}
.piechart * {width: 200px !important;height: 200px !important;}
@media (max-width:520px) {
	.piechart {width: 150px;height: 150px;}
	.piechart * {width: 150px !important;height: 150px !important;}
}
@media (min-width:640px) {
	.piechart {width: 250px;height: 250px;}
	.piechart * {width: 250px !important;height: 250px !important;}
}

.lpg-access {
	display: inline-block;
	width: 12px; height: 12px;
	background: trasparent;
}

/* VOTAZIONI PASSATE */

.twocol {
	margin: 10px 0;
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    -webkit-column-gap: 0;
    -moz-column-gap: 0;
    column-gap: 0;
}

.twocol .lp-panel {
	margin-top:0;
}

/* PAGINA PROFILO */
#profilecontainer {
	padding: 10px;
	display: flex;
}
#profiletext {
	flex:6;
	margin: 0 5px 0 0;
}
#profiledata {
	margin: 0 0 0 5px;
	flex:4;
	background: rgba(30, 30, 30, 0.5);
	min-height: 60px;
	border: 1px solid rgb(34, 34, 34);
	padding: 5px 0px 2px 0;
}
#profiledata table, #profiledata tbody, #profiledata td, #profiledata tr {
	vertical-align:center;
	margin:0;
	padding:0;
	border-collapse: collapse;
	font-family:sans;
}
#profiledata tr[data-pa] { background: rgba(20, 20, 20, 0.3) }
#profiledata tr[data-dp] { background: rgba(0, 0, 0, 0.3) }
#profiledata table {
	font-size:9.5pt;
	width:100%;
}
#profiledata table td {
	padding: 3px 2px 3px 5px;
}

#statusdiv {
	display: flex;
}

#statusdiv div {
	flex:1;
	text-align:center;
}

.gray {
-webkit-filter: brightness(10%);
filter: brightness(10%);
}

/* PAGINA PROFILO ALTRI */

#profilecontainer_other {
	padding: 10px;
}
#profiledata_other {
	margin: 0 0 0 5px;
	min-height: 90px;
	/*border: 1px solid rgb(34, 34, 34);*/
	padding: 5px 0px 2px 0;
}
#profiledata_other table, #profiledata_other tbody, #profiledata_other td, #profiledata_other tr {
	vertical-align:center;
	margin:0;
	padding:0;
	border-collapse: collapse;
}
#profiledata_other tr:nth-child(odd) { background: rgba(20, 20, 20, 0.3) }
#profiledata_other tr:nth-child(even) { background: rgba(0, 0, 0, 0.3) }
#profiledata_other table {
	width:100%;
}
#profiledata_other table td {
	padding: 5px 2px 5px 5px;
}
#profiledata_other td:nth-child(1) {
	width: 30%;
}
#profiledata_other td:nth-child(2){
	width: 70%;
}

/* PAGINA GIORNALE */
.main-col {
	float:left;
	width:65%;
	padding:0 !important;
}
.side-col {
	float:right;
	width:35%;
	padding:0 !important;
}

@media (max-width:600px) {
.main-col, .side-col {
	width:100%;
} }

.necrologio thead {
	font-size:8pt;
}
.necrologio tbody td:first-child {
	min-width:72%;
	font-weight:600;
}	
.necrologio tbody td:last-child {
	color:#eee;
	font-size:9pt;
	font-weight:300;
}
.notizia-data {
	color:#ccc; font-size:8pt; font-family:sans; font-weight:300; float:right;
}
