* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html, body {
	height: 100%;
}

body {
	color: #222;
	text-align: center;
	text-shadow: 0px 1px 3px rgba(10,10,10,.6);
	background-color:#f8f0d0;
	line-height: 1.4;
	font-family: "AsanaMath", sans;
	font-size: 10pt;
}

a {
	text-decoration: none;
	color: #222;
}

h3 {
	font-size: 24px;
	font-weight:800;
}

.wrapper {
	display: table;
	width: 100%;
	height: 100%;
	min-height: 100%;
	box-shadow: 0px 0px 100px 50px rgba(0,0,0,.15) inset;
}

.wrapper-inner {
	padding: 0px 0 20px 0;
	vertical-align: top;
	display: table-cell;
}

.big-container, .head, .foot {
	width: 100%;
}

.big-container {
	margin: 0 auto 0 auto;
}

.head {
	width: 100%;
	top: 0px;
	text-align: center;
	clear: both;
	display: table;
	padding: 3px 0;
	margin: 20px 0;
	font-family: "Calligraffitti", "Helvetica", sans;
}

.head .brand {
	margin: 6px 0 4px 30px;
	float: left;
}

.head .nav {
	float: right;
	margin: 0 30px 0 0;
	list-style: outside none none;
}

.head .nav li {
	display: inline-block;
	position: relative;
	line-height:20px;
	margin: 3px 0 3px 20px;
}

.head .nav li.home {
	margin-left: 0px;
}

.head .nav  a {
	font-size: 16px;
	font-weight: bold;
	padding: 8px 0px;
	display: block;
	position: relative;
	color: rgba(255,255,255,.75);
}

.head .nav .active a {
	color:#fff;
	border-bottom: #fff 2px solid;
}

.content {
	padding: 15px 10px;
	clear:both;
}

.content a:hover {
	text-shadow: 0 1px 3px rgba(255,255,255,.4);
}
.content ul {
	padding-left:30px;
}

.foot {
	background: #1a1a1a;
	box-shadow: 0 0 4px 4px #1b1b1b;
	margin-top:5px 0 0 0;
	padding: 3px 0 0;
	position:fixed;
	bottom:0px;
	width:100%;
	text-align: right;
}

.foot span a {
	margin: 0 5px;
	color: #775;
	font-size: 8pt;
	font-family: sans;
}

.foot span {
	margin-right: 20px;
}

@media (max-width:600px) {
.wrapper-inner {vertical-align:top;}
.head {margin-top:15px;}
.head .brand {float:inherit;margin-left:0px;}
.head .nav {float:inherit;margin-right:0px;}
}

@media (min-width:900px) {
.big-container, .head, .foot {width:860px;}
}


.bs-callout {
    padding: 20px;
    margin: 20px 10px;
    border: 1px solid #111;
	border-left-width:4px;
    border-radius: 4px;
    color:#e8e8e8;
    text-align: left;
    background-color: rgba(0, 0, 0, 0.3);
    box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.25);
    font-size:10.5pt;
}
.bs-callout p:last-child{
	margin-bottom:0
}
.bs-callout+.bs-callout{
	margin-top:-5px
}

.bs-callout h2, .bs-callout h3, .bs-callout h4, .bs-callout h5, .bs-callout h6{
    font-family: "Calligraffitti","Helvetica",sans;
    margin: 5px 0;
}
.bs-callout h2:first-child, .bs-callout h3:first-child, .bs-callout h4:first-child, .bs-callout h5:first-child, .bs-callout h6:first-child{
    margin-top: 0px;
}
.bs-callout h2 {text-align: center;font-size: 16pt;}
.bs-callout h3 {font-size: 14.5pt;}
.bs-callout h4 {font-size: 13pt;}
.bs-callout h5 {font-size: 11pt;}
.bs-callout h6 {font-size: 9.5pt;}

.bs-callout-danger {
    border-left-color: #C91813;
}
.bs-callout-danger h4, .bs-callout-danger h3, .bs-callout-danger h2 {
    color: #C91813;
}
.bs-callout-warning{
	border-left-color:#D18C2C; //#f0ad4e
}
.bs-callout-warning h4, .bs-callout-warning h3, .bs-callout-warning h2 {
	color:#D18C2C; //#f0ad4e
}
.bs-callout-info{
	border-left-color:#2E9EBF; //#5bc0de
}
.bs-callout-info h4, .bs-callout-info h3, .bs-callout-info h2 {
	color:#2E9EBF; //#5bc0de
}
.bs-callout-success {
    border-left-color: #33A235;
}
.bs-callout-success h4, .bs-callout-success h3, .bs-callout-success h2 {
    color: #33A235;
}
.bs-callout-default {
	border-left-width:1px;
}
