/*** GENERALI ***/

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html, body {
	height: 100%;
}

body {
	color: #FFF;
	text-align: center;
	text-shadow: 0px 1px 3px rgba(0,0,0,.6);
	background-color:#383838;
	line-height: 1.4;
	font-family: "Alike Angular", "AsanaMath", sans;
	font-size: 10pt;
}

a {
	text-decoration: none;
	color: #fff;
}

h3 {
	font-size: 24px;
	font-weight:800;
}

/*** CONTAINER E MENU' PRINCIPALE ***/

.wrapper {
	display: table;
	width: 100%;
	height: 100%;
	min-height: 100%;
	box-shadow: 0px 0px 100px 50px rgba(0,0,0,.6) inset;
}

.wrapper-inner {
	padding: 0px 0 20px 0;
	vertical-align: top;
	display: table-cell;
}

.big-container, .head, .foot {
	width: 100%;
}

.big-container {
	margin: 0 auto 0 auto;
}

.head {
	width: 100%;
	top: 0px;
	text-align: center;
	clear: both;
	display: table;
	padding: 3px 0;
	margin: 20px 0;
	font-family: "Calligraffitti", "Helvetica", sans;
}

.head .brand {
	margin: 6px 0 4px 30px;
	float: left;
}

.head .nav {
	float: right;
	margin: 0 30px 0 20px;
	list-style: outside none none;
}

.head .nav li {
	display: inline-block;
	position: relative;
	line-height:20px;
	margin: 3px 0 3px 20px;
}

.head .nav li.home {
	margin-left: 0px;
}

.head .nav  a {
	font-size: 16px;
	font-weight: bold;
	padding: 8px 0px;
	display: block;
	position: relative;
	color: rgba(255,255,255,.75);
}

.head .nav .active a {
	color:#fff;
	border-bottom: #fff 2px solid;
}

.content {
	padding: 15px 10px;
	margin-bottom:15px;
	clear:both;
	text-align: left;
}

.content a:hover {
	text-shadow: 0 1px 3px rgba(255,255,255,.4);
}
.content ul {
	padding-left:30px;
	list-style-type: circle;
}

.foot {
	background: #1a1a1a;
	box-shadow: 0 0 4px 4px #1b1b1b;
	margin:5px 0 0 0;
	padding: 3px 0 0;
	position:fixed;
	bottom:0px;
	width:100%;
}
.foot span {
	padding: 0 20px;
	font-size: 8pt;
	font-family: sans;
}
.foot .left {
	text-align:left;
	float:left;
}
.foot .right {
	text-align:left;
	float:right;
}
.foot a {margin: 0 5px;}
.foot .left a {color: #aa8; font-weight:600;}
.foot .right a {color: #775;}

@media (max-width:600px) {
.wrapper-inner {vertical-align:top;}
.head {margin-top:15px;}
.head .brand {float:inherit;margin-left:0px;}
.head .nav {float:inherit;margin-right:0px;}
}

@media (min-width:900px) {
.big-container, .head, .foot {width:860px;}
}

/*** COMPONENTS ***/

.lp-panel/*, .lp-entry, .lp-entry-text, .lp-radio-group label*/ {
    box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.25);
    font-size:10.5pt;
    border: 1px solid #111;
}
.lp-panel/*, .lp-entry-text, .lp-radio-group label*/ {
    border-radius: 4px;
    color:#e8e8e8;
    color:#e0e0e0;
    background-color: rgba(0, 0, 0, 0.3);
}

.lp-panel {
    padding: 20px;
    margin: 15px 10px;
	border-left-width:4px;
}
.lp-panel p{
	padding-top:2px;
}
.lp-panel p:last-child{
	margin-bottom:0;
}
.lp-panel+.lp-panel{
	margin-top:5px
}

.lp-panel h2, .lp-panel h3, .lp-panel h4, .lp-panel h5, .lp-panel h6{
    font-family: "Calligraffitti","Helvetica",sans;
    margin: 10px 0 5px 0;
}
.lp-panel h2:first-child, .lp-panel h3:first-child, .lp-panel h4:first-child, .lp-panel h5:first-child, .lp-panel h6:first-child{
    margin-top: 0px;
}
.lp-panel h2 {text-align: center;font-size: 16pt;}
.lp-panel h3 {font-size: 14.5pt;}
.lp-panel h4 {font-size: 13pt;}
.lp-panel h5 {font-size: 11pt;}
.lp-panel h6 {font-size: 9.5pt;}

.lp-panel-danger {
    border-left-color: #C91813;
}
.lp-panel-danger h4, .lp-panel-danger h3, .lp-panel-danger h2 {
    color: #C91a15;
}
.lp-panel-warning{
	border-left-color:#D18C2C; /*#f0ad4e*/
}
.lp-panel-warning h4, .lp-panel-warning h3, .lp-panel-warning h2 {
	color:#D18C2C; /*#f0ad4e*/
}
.lp-panel-info{
	border-left-color:#2E9EBF; /*#5bc0de*/
}
.lp-panel-info h4, .lp-panel-info h3, .lp-panel-info h2 {
	color:#2E9EBF; /*#5bc0de*/
}
.lp-panel-success {
    border-left-color: #33A235;
}
.lp-panel-success h4, .lp-panel-success h3, .lp-panel-success h2 {
    color: #33A235;
}
.lp-panel-default {
	border-left-width:1px;
}

.lp-field {
	padding:10px 0;
	width:100%;
	clear: both;
	font-size:10.5pt;
}
.lp-field .lp-entry, .lp-field .lp-entry-text, .lp-field input, .lp-field label.lpradio, .lp-field select {
	box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.25);
	border: 1px solid #111;
	color:#e0e0e0;
	background-color: rgba(0, 0, 0, 0.3);
	padding: 16px 10px 16px 20px;
	float:left;
}
.lp-field .lp-entry {
	border-radius: 4px 0 0 4px;
	color:#080808;
	background: linear-gradient(to bottom, #FFF 0px, #CCC 100%);
	text-shadow: 0px 1px 3px rgba(0,0,0,.4);
	width:30%;
}
.lp-field .lp-entry-text, .lp-field input, .lp-field label.lpradio, .lp-field select {
	border-radius: 0 4px 4px 0;
	border-left: 1px #000 solid;
	text-align: left;
	box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.25), 1px 1px 20px 3px rgba(0, 0, 0, 0.1) inset;
	width:70%;
	height:100%;
}
.lp-field option {
	padding:8px;
}
.lp-field select {
	padding: 8px 12px 8px 12px;
	outline:none;
	display: inline-block;
	-webkit-appearance:none;
	-moz-appearance:none;
	appearance:none;
	cursor:pointer;
}
.lp-field input[type=text], .lp-field select {
	background-color: rgba(0,0,10,.1);
	box-shadow: 0 0 0 0;
}
.lp-field input[type=text]:focus, .lp-field select:focus  {
	background-color: rgba(0, 0, 20, 0.3);
	box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.25), 1px 1px 20px 3px rgba(0, 0, 0, 0.1) inset;
}

@media (max-width:600px) {
.lp-panel, .lp-field {font-size: 10pt;}
}
@media (max-width:500px) {
.lp-field {font-size: 9.5pt;}
.lp-field label, .lp-field .lp-entry {overflow-x: hidden; padding-left: 15px; padding-right: 7px;}
}
/*
@media (max-width:600px) {
.lp-entry, .lp-entry-text, .lp-panel, .lp-radio-group label {
	font-size: 10pt;
}
.lp-radio-group label, .lp-entry, .lp-entry-text {
	white-space: nowrap;
	overflow-x: hidden;
    padding: 12px 8px 12px 15px;
}
}
@media (max-width:480px) {
.lp-entry, .lp-entry-text,  .lp-radio-group label, .lp-radio-group legend {
	font-size: 12px;
}
.lp-entry, .lp-entry-text, .lp-radio-group label, .lp-radio-group legend {
    padding: 10px 1px 10px 12px;
}
}*/

/*** CLASSE BTN ***/

.btn-group {
	text-align:center;
	width:100%;
	padding:10px;
}
.btn, .btn:hover, .btn:focus {
	text-shadow: 0 0 0;
	background-color: rgba(255,255,255,.8);
	border-radius: 5px;
	border: 1px #000 solid;
	display: inline-block;
	color:#000;
	line-height:1.5;
	font-weight:600;
	font-size:9pt;
	font-family:"Asana Math";
	min-width: 84px;
	text-align: center;
}
.btn {
	box-shadow: 1px 1px 3px #000;
	padding: 10px 20px;
	margin: 0 5px 10px;
}
.btn-chosen, .btn-chosen:hover, .btn-chosen:focus,
.btn[data-chosen], .btn[data-chosen]:hover, .btn[data-chosen]:focus {
	background-color: rgba(255,128,128,.85);
	box-shadow: 1px 1px 3px #000 inset;
}
.btn-disabled, .btn-disabled:hover, .btn-disabled:focus,
.btn[disabled], .btn[disabled]:hover, .btn[disabled]:focus {
	background-color: rgba(128,128,128,.85);
	box-shadow: none;
	cursor: default;
	pointer-events: none;
}
.btn:hover, .btn:focus {box-shadow: 1px 1px 3px #000 inset;}

small .btn, small .btn:hover, small .btn:focus, table .btn, table .btn:hover, table .btn:focus {
	margin-right: 0;
	padding: 8px 12px;
	font-size: 8.5pt;
	font-weight:400;
}
table .btn, table .btn:hover, table .btn:focus {
	margin: 5px;
}

/* CLASSE ALERT */

.alerts {
	position: absolute;
	top:10px; left:10px;
	z-index:500;
}
.alert {
	width: 64px;
	height: 64px;
	border: 1px #000 solid;
	border-radius: 6px;
	background: rgba(0,0,0,.45);
	margin-bottom: 10px;
	clear: both;
	box-shadow: 4px 4px 5px 2px rgba(0,0,0,.5)
}
.alert-txt {
	display: none;
	margin-left:56px;
	font-size:9pt;
	font-family: sans;
	font-weight: bold;
	padding:12px;
	color: #fff;
	text-shadow: 1px 1px 5px rgba(0,0,0,.8)
}
.alert:hover { width:auto; height:auto; min-height:64px;}
.alert:hover .alert-txt {
	display: block;
}

.alert-danger, .alert-error {
	border-color: #C91813; color:#C91813; background: url("../lupus-images/logo-error.png") no-repeat rgba(200,25,20,.5);
}
.alert-warning { border-color: #D18C2C; color:#D18C2C; background: url("../lupus-images/logo-warning.png") no-repeat rgba(180,120,40,.5);}
.alert-info { border-color: #2E9EBF; color:#2E9EBF; background: url("../lupus-images/logo-info.png") no-repeat rgba(45,160,180,.5); }
.alert-success { border-color: #189008; color:#189008; background: url("../lupus-images/logo-success.png") no-repeat rgba(24,144,8,.55);}

/* TABLE NICEOVER */

.nicehover {
	width: 100%;
	padding: 10px;
	margin: 5px;
	border-collapse: collapse;
	border: 0;
}
.nicehover tr {
	background: rgba(255,255,255,0);
	margin: 10px 0;	
}
.nicehover tr:hover {
	border-top: 1px #555 solid;
	border-bottom: 1px #666 solid;
	background: rgba(255,255,255,0.05);
	box-shadow: 0 0 3px 4px rgba(255,255,255,.05), 0 0 1px 0 rgba(0,0,0,0);
}
.nicehover thead tr:hover {
	box-shadow: initial;
	border: 0;
	background: initial;
}
.nicehover td {
	padding: 5px 5px;
	vertical-align: middle;
}

/* CLASSE SELECT */

.form-select {
line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
       -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
          transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.form-select:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
          box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}
.form-select::-moz-placeholder {
  color: #999;
  opacity: 1;
}
.form-select:-ms-input-placeholder {
  color: #999;
}
.form-select:-webkit-input-placeholder {
  color: #999;
}

.spaced {
	margin-right: 20%;
}

.big-p {
	font-size: 10pt;
}

.table-with-padding th, td {
	padding: 8px;
}

.btn-panel {
    padding: 20px;
    margin: 15px 10px 2px 10px;
	border-left-width:4px;
}
.btn-panel p:last-child{
	margin-bottom:0
}
.btn-panel+.btn-panel{
	margin-top:5px;
}
/* MENU' PERCORSO GM */

nav.gm-nav ul {
	list-style: outside none none;
	clear:both;
	padding: 0 5px;
}
nav.gm-nav li {
	padding: 2px 2px;
	display: inline-block;
	position: relative;
	float:left;
	line-height:26px;
	color:#fff;
}
nav.gm-nav li a:hover {
	background-color: rgba(80, 80, 80, 0.25);
	text-shadow: none;
}
nav.gm-nav li a, nav li span {
	position: relative;
	padding: 5px 15px;
	display:block;
	background-color: rgba(0, 0, 0, 0.25);
	border-radius:4px;
	box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.25);
	border: 1px solid #111;
}
nav.gm-nav ul li:last-child {
	clear:right;
}
nav.gm-nav li {
	padding: 2px 0;
}
nav.gm-nav li a, nav li span {
	border-radius: 0px;
	 border-right-width: 0px;
}
nav.gm-nav li:first-child a, nav li:first-child span { border-radius: 5px 0 0 5px; }
nav.gm-nav li:last-child a, nav li:last-child span { border-radius: 0 5px 5px 0;  border-right-width: 1px;}

/* ALTRO */

.lp-user {
	float:left;
	width:33%;
	text-shadow: inherit !important;
}
